[2020-03-04 14:25] #287 closed

[2020-03-04 14:39] enjoy-digital commented on #365
We can probably close this now since:
- the generic (but slow) CSR accessors can be used for tests or when performance is not required.
- the generated CSR accessors from `csr.h` for bare-metal applications are now as effective as before and the implementation can still be replaced with a custom implementation.
- CSR accessors in Linux-on-LiteX-Vexriscv have been changed to use a generic and effec

[2020-03-04 14:39] #365 closed

[2020-03-04 14:54] enjoy-digital commented on #325
Implemented with https://github.com/enjoy-digital/litex/commit/6893222cf15a201cb85fe5a244e5e02a3f9fc058.

[2020-03-04 14:54] #325 closed

[2020-03-04 21:55] mglb opened #409 "Regression: c4fd6a7 breaks litedram (ddr3_init.h doesn't match reference file)"
Problem introduced in c4fd6a7

`$ python setup.py test -s test.test_init.TestInit` (in litedram directory)
[code]

`$ diff -u test/reference/ddr3_init.h ddr3_init.h`
[code]

[2020-03-04 22:24] BracketMaster commented on #314
@gsomlo I also have a simple working CSR example for ECP [here](https://github.com/BracketMaster/Litex_DMA_Tutorial) if you'd like to reference that.

[2020-03-05 03:44] mithro commented on #404
It might be worth considering `linux-on-litex-vexriscv` do some type of minimum version check on the LiteX version in use?

[2020-03-05 06:36] enjoy-digital commented on #404
@mithro: for now `linux-on-litex-vexriscv` is tested and should be use upstream LiteX. In the future we could add a version check if necessary. Here LiteX has been updated but not `linux-on-litex-vexriscv`.

[2020-03-05 10:39] enjoy-digital commented on #409
Thanks for the feedback. https://github.com/enjoy-digital/litex/commit/c4fd6a7f2faffc883f8cd42ea318c841e6ec02e5 fixes the KC705 DDR3 initialization and reference files in LiteDRAM needed to be updated. This is done by: https://github.com/enjoy-digital/litedram/commit/8fee3c7edfc5443ac8d1991d27e69c99072d7174.

[2020-03-05 10:39] #409 closed

[2020-03-05 13:21] enjoy-digital commented on #346
When we have multiple DRAM chips connected to the board using separate command lines we have the choice to:
1. Have 2 PHYs and a single Controller, DFI commands will just be replicated on each PHY and the only change for the Controller and system is that the data-width/capacity/bandwidth is doubled.
2. Have a Controller per PHY that will be mapped at a different location and each Controller/PHY wi

[2020-03-05 15:16] rob-ng15 commented on #398
Many thanks.

Finally got it working with the unpatched SPIMaster at 400KHz. It does give a significant speed boost, nowhere near the 1 minute quoted for booting from flash, but certainly less than 5 minutes.

I'll try the patch above, and see if I can get it working at 25MHz once the card has been initialised at 100 or 400KHz. I'll update my github.com accordingly, then the code is ready and wait

[2020-03-05 15:55] enjoy-digital commented on #398
Great! Thanks for the feedback on the length, i'll update the description.

[2020-03-05 16:05] rob-ng15 commented on #398
Thank you.

I've given up with the clock divider version. So I'll post code running the card at 400KHz, or whatever is set in the board file that initialises the SPIMaster.

I'll stick with the names spisdbb for software bitbanging and spisd for hardware bitbanging, and use these to conditionally pull in the code into the BIOS main.c and boot.c files, unless you have any suggestions? As SPI can be

[2020-03-05 16:45] rob-ng15 commented on #398
github updated with spisdbb (software bitbanging) and spisd (hardware bitbanging).

Changed files are in the ALTERED folder.

When linux boots, does this matter [    0.000000] No DTB passed to the kernel?

[2020-03-05 16:58] enjoy-digital commented on #398
Thanks. For the "No DTB passed to the kernel" that something we also have: https://asciinema.org/a/tvvAQPzH29IsEEdmTOUTLEKeF

[2020-03-05 17:58] enjoy-digital commented on #346
@mglb submitted https://github.com/enjoy-digital/litex/pull/411 and https://github.com/enjoy-digital/litedram/pull/157 just after i wrote my previous comment. I'm a bit uncomfortable with this, because i realize how much work it is, but i'm not sure we have a real use case for it. From my previous comment, on the Pano Logic G2 we clearly want to implement solution 1. while it is doing so implement

[2020-03-05 18:13] mithro commented on #346
@enjoy-digital -- I guess I don't understand why this isn't as simple as just being a `for X in Y` where in most cases Y is a list with a single element? (I haven't had a chance to review the stuff you linked.)

Of the peripherals you listed, only DDR really needs BIOS support (LiteEth's BIOS stuff is more about increased usefulness rather than *actually* required).

One of LiteX + LiteDRAM's powe

[2020-03-05 19:02] enjoy-digital commented on #346
@mithro: it's not about taking a step backwards it's about being pragmatic: i'm not sure we we need to complicate that much the code if the use case is only the Pano Logic G2 and would like that we test the solution i'm suggesting that can be done more easily and provide better performance for the actual use case. If you have others use cases in mind i'd like to be aware of it. If not, i'm just sa

[2020-03-05 20:03] mithro commented on #346
I see three use cases here;
 - (a) A single DDR controller that is of arbitrary width.
 - (b) Multiple independent (but small) DDR controllers mapped to different memory regions.
   * This example is were you have multiple data streams that need independent bandwidth.
   * In the video world this would be things like using controller A for buffering for Input 1 / Output 1 and controller B for buff

[2020-03-05 20:05] mithro commented on #346
FYI - I'm pretty supportive of replacing the LiteX BIOS with a more traditional bootloader like U-boot. The less that is unique and special about LiteX on the software side, the more likelihood that people already have experience with the tools and can get started quicker. The primary question is if U-boot can get small enough and be modified easily enough to fit our usage model.....

[2020-03-05 20:07] daveshah1 commented on #346
Full U-boot would have to be on SPI flash, but iirc U-Boot has something called SPL (it's a while since I've last used it) that is closer to the LiteX BIOS basically doing DRAM and SPI init type stuff, and might fit in BRAM.

[2020-03-05 20:09] mithro opened #413 "Consider alternative options for LiteX BIOS"
Rather than having our own code base, maybe we can reuse something that people are more likely to be familiar with?

[2020-03-05 20:09] mithro commented on #346
Let's split the BIOS question into a separate issue - created https://github.com/enjoy-digital/litex/issues/413

[2020-03-05 20:10] mithro commented on #413
@daveshah1 said at https://github.com/enjoy-digital/litex/issues/346#issuecomment-595422821

[2020-03-05 20:11] mithro commented on #346
@enjoy-digital - FYI I took a look at https://github.com/enjoy-digital/litex/pull/411/files and I believe it can be simplified significantly with a very small amount of code refactoring. I don't believe multiple DDR support needs to have as dramatic effect as that pull request shows.

[2020-03-05 20:31] enjoy-digital commented on #413
@frantony did an initial Barebox port last year: http://lists.infradead.org/pipermail/barebox/2019-June/038284.html from what i can read and feedback from others, this could be a better option than U-boot, but we would need to evaluate that more closely.

[2020-03-05 21:20] rob-ng15 commented on #398
Now the code is working with the current SPIMaster from spi.py and I'm happy to try again with the clock dividable SPIMaster.

If I set the SPIMaster with a 25e6 = 25MHz, what value do I need to write to the clock divider to provide a 100khz signal? What value do I need to write to the clock divider to provide a 25MHz signal?

I was probably writing the wrong values?

[2020-03-06 01:32] xobs commented on #413
I would very much like "none" to be an option.  In the past it's been a challenge to find the right combination of configuration flags to tell litex to have the PC start at an address other than 0, particularly one that's not aligned to a 256 MB boundary, such as following a bitstream image.

Alternately, making it configurable so that a different build system can work.  For example, in Fomu I had

[2020-03-06 01:38] xobs opened #414 "Support svd generation prior to building software"
Using `litex.soc.doc`, it is possible to build an svd file.  This file can then be used to generate an equivalent of a `csr.h` file in an external program.

However, this process currently needs to be run after the `Builder.build()` step, and therefore needs to be run after the software and gateware are built.

A workaround is to do two passes of `Builder.build(), with the first setting `build_gat

[2020-03-06 01:57] xobs opened #415 "Regression: SVD generation no longer works"
As a result of https://github.com/enjoy-digital/litex/commit/4f935714de39d65d586b8b01efae322b04bd3db1#diff-1620348e4c19d354b94149c972966387 svd file generation is broken:

[code]

[2020-03-06 05:14] esden commented on #415
If you need to test this, you can try building the icebreaker example soc here: https://github.com/icebreaker-fpga/icebreaker-litex-examples/tree/master/soc

Just uncomment the following line: https://github.com/icebreaker-fpga/icebreaker-litex-examples/blob/master/soc/icebreaker.py#L257

[2020-03-06 05:17] esden commented on #414
This is related to the icebreaker soc that does not generate a bios as it is not needed. All we want are the CSR header files and SVD file.

It would be nice if the system just generated the SVD file the same way it is done for the csr.h header. We need the SVD file to be able to write Rust programs for the generated SOC.

For reference: https://github.com/icebreaker-fpga/icebreaker-litex-examples

[2020-03-06 05:47] bunnie commented on #414
+1 here, i am implementing a Rust BIOS and we need the SVD file to generate the Bios outside the Litex flow so that we can have the mem.init file for the $readmemh statement...

There is probably also a corollary issue that should be opened as to trigger BIOS inclusion I point Litex to a dummy "do nothing" C Makefile. Without that, it won't try to include the Rust BIOS at all.

[2020-03-06 07:40] enjoy-digital commented on #414
@xobs, @esden, @bunnie: can you check if https://github.com/enjoy-digital/litex/pull/416 is covering your needs? It also fixes https://github.com/enjoy-digital/litex/issues/415.

[2020-03-06 18:02] enjoy-digital commented on #415
Thanks for reporting, this is fixed as part of https://github.com/enjoy-digital/litex/pull/416,  sorry i wasn't testing SVD generation when doing the changes. This will now be easier to test with the `--csr-svd` parameters available on all targets and i will also add it to Travis-CI.

[2020-03-06 18:02] #415 closed

[2020-03-06 18:03] enjoy-digital commented on #414
Implemented by https://github.com/enjoy-digital/litex/pull/416.

[2020-03-06 18:03] #414 closed

[2020-03-06 19:08] enjoy-digital commented on #413
With https://github.com/enjoy-digital/litex/commit/e801dc0261d7101b148135933f441ed82ca61da8 it's should now be possible to create a SoC without the BIOS that will just resets the CPU at `cpu_reset_address`.

[2020-03-08 08:10] ewenmcneill opened #417 "Regression: small sram, non power of 2 RAM size, firmware XIP (iCE40 8K: TinyFPGA BX/HX8K)"
TL;DR:  Regressions/questions:

1.  Is `sram` (or other memory regions) that are of a size that is not a power of 2 still supported?  This used to work (see below), but since September 2019 seems to have been implicitly rounded up in size in a way that causes the software linker to try to, eg, use RAM that doesn't actually exist.   If only powers of 2 are supported, there should probably be a buil

[2020-03-08 15:31] enjoy-digital commented on #417
Thanks @ewenmcneill for the detailed report/investigation. I will look at that  and include targets for small boards in LiteX and Travis-CI to be sure to catch this more easily.

[2020-03-08 18:22] enjoy-digital commented on #417
For 1. i don't think there was a regression. Before, the internal value used for the decoder was rounded to 256MB, while now it's rounded to the next power or 2. With https://github.com/enjoy-digital/litex/commit/b02c23391a75c809dbb6b0dfc17e49a88214a11d, rounding in hardware is indicated to user when happening and this rounded value is also used to do the internal checks.
So i think it's the behav

[2020-03-08 18:32] enjoy-digital commented on #417
Still for 1. if there was a regression, it has probably been fixed when introducing the new SoC Class. For example if we do:
`litex_sim --integrated-rom-size=0x8004`
The size used internally is rounded to 0x10000, so the next power or 2, but the size generated for the software is 0x8004.

[2020-03-08 18:44] enjoy-digital commented on #417
For 2, this is still supported and the behavior has been made similar to ROM_BOOT_ADDRESS, when user want the BIOS to use it, the constant just need to be defined by the user:
`soc.add_constant("FLASH_BOOT_ADDRESS", 0x11223344)`

[2020-03-08 19:59] ewenmcneill commented on #417
Yes, I believe that's how it worked before: the exact value was provided to the linker (software) so the software was laid out correctly in the actual RAM available, but the address decoding used a larger chunk.

It sounds like good news that a newer commit has re-introduced this support (with the SoC classes, which I think is https://github.com/enjoy-digital/litex/commit/6baa07a69bff59249e6e88e5a

[2020-03-08 20:05] enjoy-digital commented on #417
Thanks for the feedback. I'm was planning to work a bit on the icebreaker in the next days which has similar constraints so will look at that and try to provide an up to date solution.

[2020-03-08 20:14] ewenmcneill commented on #417
FWIW, it looks like the TinyFPGA BX does try to set `integrated_rom_size` to 0 (which I think used to prevent auto-generated `rom`), but for some reason that's not working now and the `rom` segment is still appearing at 0x0000 anyway (hence the conflict):

https://github.com/timvideos/litex-buildenv/blob/d6cffe26a17af015821142a8b199fc6460f149d8/targets/tinyfpga_bx/base.py#L66-L67

So I'll need to

[2020-03-08 21:11] ewenmcneill commented on #417
Also FTR, it seems like the 0x8000 (32kB) ROM size is coming from litex-buildenv make.py argument parsing defaults, although I've not yet figured out where that default argument is coming from...

[code]

It looks like that didn't used to be set by default, but now it is set by default.  So platforms relying on overriding the default (but not a manually set value) probably need some refactoring.

[2020-03-08 21:33] ewenmcneill commented on #417
Unfortunately it looks like the result of doing that is that the BIOS isn't built (I suspect because `cpu.use_rom` isn't being set, but I haven't fully traced it), and the FuPy port of MIcroPython also doesn't build because the way to access CSRs has changed.  So I can't directly test just forcing the `integrated_rom_size` to 0; it's clearly going to require more adjustments.  And I should actuall

[2020-03-09 08:36] enjoy-digital commented on #346
With https://github.com/enjoy-digital/litedram/commit/5e068f412b8574696aae1e4a5785440ec727abbc and https://github.com/enjoy-digital/litedram/commit/26564ba93cf342a191dc68d31194caf81c7c0c6a it should now be possible to create a configuration for the Pano Logic G2 board using the 2 external DRAM chips  managed by a single controller. This could probably be tested/used for now until we decide if we h

[2020-03-09 20:23] enjoy-digital commented on #413
@frantony kindly offered to push his initial Barebox work to https://github.com/litex-hub/barebox and wrote instructions to test it in https://github.com/litex-hub/barebox/commit/e66ff6010e6232edd976082dde96f6300e7a3a21

[2020-03-09 23:13] gsomlo opened #420 "LiteXSoC.add_ethernet() vs. mem_map["ethmac"]"
For better or worse (and I'm happy to stop doing it, if it was a bad idea to begin with) I've been hardcoding `mem_map["ethmac"]` to `0x3000_0000` in https://github.com/enjoy-digital/litex/blob/master/litex/soc/cores/cpu/rocket/core.py#L81. The "classic" (inheritance-based) `EthernetSoC` uses `mem_map.update()` to set `mem_map["ethmac"]` to a default (`0xb000_000`) unless already set (see https://

[2020-03-10 00:33] mithro commented on #413
@enjoy-digital - Awesome! How should do the evaluation of Barebox to the existing BIOS?

[2020-03-10 05:42] frantony commented on #413
Sorry!

There is an error in the instructions:

use
[code]
instead of
[code]

I have added instruction to wiki page: https://github.com/litex-hub/barebox/wiki

[2020-03-10 07:20] frantony commented on #413
@mithro

Mainline RISC-V linux kernel is intended to run in S-mode (as opposed to MIPS and ARM, e.g.).

Hereby there are at least two possibilities:

* existing BIOS runs in M-mode and provides supervisor execution environment (SEE) for barebox and linux kernel; both linux kernel and barebox run in S-mode;
* the "no BIOS" situation: barebox runs in M-mode and provides SEE for linux kernel.

We hav

[2020-03-10 08:28] enjoy-digital commented on #420
Just for info, the idea with the new SoC class is to:
1) Allow the user to defined the Memory Map and use it when specified.
2) Let the SoC determines the Memory Map if no specified or partially.
That was already possible for the CSRs and the idea is to extends is to the Memory Map.

I think the default in LiteX for the Ethernet MAC mapping should be to determine it automatically since:
- in most

[2020-03-10 10:30] enjoy-digital commented on #417
Hi @ewenmcneill,

i tried to work yesterday to improve support for small iCE40 FPGAs and tried to create a minimal icebreaker target in https://github.com/enjoy-digital/litex/blob/master/litex/boards/targets/icebreaker.py.

In this target, the `integrated_rom_size` and `integrated_ram_size` are forced to 0 and a linker region is created for the ROM (Physically located in SPI Flash) and SPRAM is us

[2020-03-11 07:02] ewenmcneill commented on #417
Thanks very much for that.  It's definitely useful to have a "known working" example to compare against.

With the latest `litex` I'm now seeing the BIOS compiled for the TinyFPGA BX in `litex-buildenv`, so it feels like I'm getting close to what is needed.  I'm running into a weird linking error with the software (`litex-buildenv` `firmware.elf`), which needs more debugging to figure out what's h

[2020-03-11 07:18] ewenmcneill commented on #417
It looks like the `-msign-extend-enabled` is what it doesn't like, which is ending up in the `LDFLAGS` via:

https://github.com/enjoy-digital/litex/blob/master/litex/soc/software/common.mak#L66

which includes `CPUFLAGS` (ie, the settings above).  But I still haven't traced it far enough to know what changed that made that not work for linking.

FTR, this is the linking error I'm getting (with `SH

[2020-03-11 08:04] enjoy-digital commented on #417
The change i can think of here is: https://github.com/enjoy-digital/litex/pull/401/files. Could you try with software before this PR?

[2020-03-11 08:37] ewenmcneill commented on #417
Yes, that's the same change that I found added `$(CPUFLAGS)` to `$(LDFLAGS)`.  Which in general seems a somewhat unsafe thing to do, since not all compiler (compile time) flags will work for linking (even linking initiated via gcc).

If I just revert the `LDFLAGS` bit of that by hand (ie, remove `$(CPUFLAGS)` from `LDFLAGS` in `common.mak`), then I'm able to get a booting BIOS with the latest `lit

[2020-03-11 08:44] ewenmcneill commented on #417
For completeness, if I unconditionally have the target set `integrated_sram_size` to 10kB, then I do get the correct amount of RAM.  So that confirms the problem we first started with, sram size being rounded up/down, is solved.

My very hacky test edit of `litex-buildenv` `targets/tinyfpga_bx/base.py` is shown in the patch below (against `litex-buildenv` top) for reference.  It's "working" given

[2020-03-11 08:58] ewenmcneill commented on #417
FTR, `-m` defines the `emulation` when passed to `ld`, and presumably there's only one so I think it's complaining about the last one after it's done lexing the command line.  See, eg, https://linux.die.net/man/1/ld.

Since linking is invoked via `$(TARGET_PREFIX)ld` I'm not actually sure how putting `${CPUFLAGS)` in LDFLAGS ever worked...  maybe the only tested CPU architectures use different/saf

[2020-03-11 11:33] #420 closed

[2020-03-11 12:02] enjoy-digital commented on #139
LTO has been reverted in https://github.com/enjoy-digital/litex/commit/979f98ea3120dbba208c2b0b044ce37294653814 since seems to cause subtle issues on some configurations. We'll have to test it more before enabling it.

[2020-03-11 12:02] enjoy-digital commented on #139
cc @mithro @mateusz-holenko.

[2020-03-11 12:07] enjoy-digital commented on #417
Thanks for the tests/feedback. I also saw some issues with LTO (with small VexRiscv variants), so for now i reverted the changes and disabled it with https://github.com/enjoy-digital/litex/commit/979f98ea3120dbba208c2b0b044ce37294653814 and re-opened: https://github.com/enjoy-digital/litex/issues/139. This will need to be tested more before re-integrating it.

[2020-03-11 22:18] gregdavill commented on #344
I've added the changes I've had to do to enabled hardware breakpoints with the LiteX vexriscv configuration. https://github.com/litex-hub/litex-data-cpu-vexriscv/pull/5

I see @mithro has recently refactored the prebuilt vexriscv layout. So I'm not sure if I altered the correct file. Basically you just need to add `hardwareBreakpointCount` to the `DebugPligin` in the scala configuration/generation

[2020-03-11 23:57] ewenmcneill commented on #417
In general I think that LTO is a great idea, especially for smaller/more RAM constrained targets (which have the most to benefit from removing any unnecessary code, etc).  It just seems like the patch adding it needs a wee bit more tweaking to more carefully separate "compile time" LTO flags and "link time" LTO flags, so they don't get mixed together.  (And to avoid accidentally passing compile ti

[2020-03-12 00:05] ewenmcneill commented on #417
Of note, reading the revert (https://github.com/enjoy-digital/litex/commit/979f98ea3120dbba208c2b0b044ce37294653814) it looks to me like the BIOS `Makefile` was changed to use `gcc` as the linker (rather than `$(LD)`), but that wasn't visible through `common.mak` so other things using the same `litex` generated compile infrastructure got the `$(CPUFLAGS)` in their `LDFLAGS` but didn't get the swit

[2020-03-12 00:12] ewenmcneill commented on #139
In case it helps, the link issue I had (in https://github.com/enjoy-digital/litex/issues/417) with `litex-buildenv` was with the "stub firmware" in `litex-buildenv`, which uses the auto-generated `litex` compiler/linker/flags/etc, but has its own `Makefile`.  So (copying from my comment on https://github.com/enjoy-digital/litex/issues/417#issuecomment-597940082), " updating the definition of $(LD)

[2020-03-12 01:13] mithro commented on #139
Having LTO on by default with a way to easily turn it off seems like a good plan. If LTO is off by default, it will just end up bit rotting until it no longer works.

[2020-03-12 07:51] enjoy-digital commented on #139
I'm also ok with that, we just need to work a bit more on it before integrating it.

[2020-03-12 08:14] enjoy-digital commented on #344
Thanks @gregdavill.

[2020-03-13 07:32] ewenmcneill commented on #417
@enjoy-digital, out of interest (found while trying to figure out how to handle this new API better in the tinyfpga BX target), why is `integrated_rom_size` set to 0 here:

https://github.com/enjoy-digital/litex/blob/b5bddc2332bc701fbcfe028faf0980a3e6641320/litex/soc/integration/soc_core.py#L68-L70

but set to 32kB explicitly later when the arguments parsing is set up?

https://github.com/enjoy-di

[2020-03-13 08:10] enjoy-digital commented on #417
@ewenmcneill: it is probably different to avoid regression on some designs that were relying on the default values, but i agree with you, we should probably defines a default table and use it for both.

[2020-03-13 09:46] ewenmcneill commented on #417
Progress update: I've been able to build, from `litex-buildenv` a TinyFPGA / lm32 target, with MicroPython, which boots to a MIcroPython prompt, and MicroPython seems to work as well as before, using the current `litex`.

So I think all the regressions have been resolved (the last set by reverting #401, and reopening #139), and I'm closing this issue.  Any further discussion is likely to be in htt

[2020-03-13 09:46] #417 closed

[2020-03-13 11:00] enjoy-digital commented on #417
Thanks for the patience. In the future i'll try to do more tests with small targets and micropython/circuitpython to ensure things are not broken and provide examples if changes are required.

[2020-03-13 12:16] rob-ng15 commented on #398
Probably, final change, unless we can work out the reclocking of the SPIMaster... New version, using SPI csr so as to be visible to the linux kernel...

https://github.com/rob-ng15/litex-mister/tree/master/SPI-Master

[2020-03-14 23:37] gsomlo opened #428 "commit aec1bfbe breaks nexys4ddr sdram init"
I'm building the bitstream using:

[code]

Starting with commit aec1bfbe, sdram initialization on the nexys4ddr fails:

[code]

Reverting the commit (aec1bfbe) restores functionality to the expected:

[code]

[2020-03-16 09:31] enjoy-digital commented on #371
From the recent discussions, it seems to be related to the way the arguments are handled in litex-buildenv, so we can probably close this.

[2020-03-16 09:31] #371 closed

[2020-03-16 11:11] enjoy-digital commented on #428
With the previous code, the PLL settings for this config were:
[code]
with https://github.com/enjoy-digital/litex/commit/aec1bfbeb477960a933345fd3fdf118ac2ffc945, the settings are:
[code]

The issue is the S7MMCM is using the new Fractional Divide capabilities for `clkout0` and `clkout1`/`clkout2` no longer have a frequency that is exactly 2X `clkout0`, as expected by the DRAM PHY.

With https://g

[2020-03-16 11:12] #428 closed

[2020-03-17 09:56] rob-ng15 commented on #398
Pull request generated.

[2020-03-17 18:26] rob-ng15 commented on #392
A similar goal, but using SPI bitbanging for the SD Card. Maybe the FAT16 code could be reused.

https://github.com/enjoy-digital/litex/pull/429

[2020-03-19 10:12] rob-ng15 commented on #398
Excellent.

Glad it works for another as well. First bit of coding I have done for years. Enjoyed the challenge.

[2020-03-19 10:44] enjoy-digital commented on #398
Great you enjoyed doing this, that's really a nice contribution! The integration changes are:
- https://github.com/enjoy-digital/litex/commit/37f25ed37a246fc5397f4f3732322084b33477c1
- https://github.com/litex-hub/litex-boards/commit/6ab13a0661d8a629c8c4bc3486d54e707d1ce0d7
- https://github.com/litex-hub/linux-on-litex-vexriscv/commit/2d232e9cb1932d0add2926fe8afb1b15f1993fb1

Could you do a test w

[2020-03-19 11:01] rob-ng15 commented on #398
OK.

I'll test that shortly. I'll rebase to the master git, I need to download
it all again after my messing around!

I agree, on the Mister system I was able to boot in about 90 seconds at
400khz. Changing the speed may inhibit some cards initialising, as they
need a <400khz pulse to switch to spi mode. If reclocking can work, I'll
happily add in the 2 lines of code needed.

Definitely enjoyed. V

[2020-03-19 11:27] enjoy-digital commented on #398
For the 400KHz, that was indeed just a test, the default value is still 400KHz. I just wanted to see if it was working to confirm if `spisdcard_clk_freq` was the main bottleneck and it seems to be the case.

For the Fomu @mithro has boards to give away for contributions and was willing to send you one if you were interested.

[2020-03-19 15:45] rob-ng15 commented on #398
Ok, many thanks. Keep me posted when the the glitches with reclocking are dealt with.and I will be happy to test.

A set slow clock/set high clock can be put at the start/end of the spi_sdcard_goidle() function.

[2020-03-19 15:59] rob-ng15 commented on #398
Just tried with a 16MHz spi sd card frequewncy, and yep it works on my sd card. Less than 30 seconds to boot!

Definitely looking forward to a more robust/portable implementation with dynamic reclocking. In the protocol there is a mechanism for reading the maximum speed of the sd card (apparently anyway), could be worth investigating when SPIMaster is up and running. Will happily add the support i

[2020-03-20 18:54] enjoy-digital commented on #398
@rob-ng15: https://github.com/enjoy-digital/litex/pull/435 adds a configurable clock divider. The default value will be the one configured when building the gateware but it can be reconfigured by calling: `spisdcard_clk_divider_write(x)` I tested if by reconfiguring the SDCard SPI clock frequency just after the `spi_sdcard_readMBR()` and it seems to work correctly. Could you test it on your setup?

[2020-03-20 19:03] rob-ng15 commented on #398
Yeah, will have to be tomorrow. I was going to put it at the end of the
goidle function.

Rob.

On Fri, 20 Mar 2020, 18:54 enjoy-digital, <notifications@github.com> wrote:

[2020-03-21 07:48] rob-ng15 commented on #398
Tested and pull request #436 generated.

I guess we can close this off now.

Many thanks, Rob.

On Fri, 20 Mar 2020, 19:02 Rob Shelton, <rob.s.ng15@googlemail.com> wrote:

[2020-03-21 08:34] enjoy-digital commented on #398
Thanks a lot for this work #435 and #436 are now merged and SPI-Mode SDCard has been tested on various boards (Xilinx/Altera/Lattice). Support can be added easily to Linux-on-LiteX-Vexriscv by just defining the pins in the platform and adding `spisdcard` capability to the board. This will be very useful. In the future, we'll probably use a proper bootloader to support more easily different filesys

[2020-03-21 08:34] #398 closed

[2020-03-23 17:07] enjoy-digital commented on #344
@gregdavill: i've merged your changes in https://github.com/litex-hub/litex-data-cpu-vexriscv and regenerated the verilog, but https://github.com/litex-hub/litex-data-cpu-vexriscv seems corrupted since the change from vexriscv_verilog to litex-data-cpu-vexriscv. We'll have to finish https://github.com/enjoy-digital/litex/issues/394 and/or investigate before being able to have breakpoints enabled b

[2020-03-24 12:18] mglb commented on #346
@enjoy-digital looks like the use of a single controller is not possible with pano logic g2. Memory chips are connected to different edges and IO banks of the FPGA, and serdes instances located on different edges can't be controlled by clock and strobe signal from single BUFPLL.

[2020-03-24 14:01] enjoy-digital commented on #346
@mglb: ok thanks for the feedback. I suggest we wait a little bit before deciding what is the best to do.

[2020-03-25 11:16] enjoy-digital opened #438 "ISE: automatic "keep" attributes on constraints signals seems to cause issue in the build."
The signals are probably simplified during synthesis, and missing when applying the constraint:

[code]

Is the keep attribute translated correctly for ISE? is it ISE that is simplifying a signal it should keep?

[2020-03-25 17:15] enjoy-digital commented on #438
A workaround and explanation for the current issue: https://github.com/enjoy-digital/liteeth/commit/fb478537e7d45512567b9b35b5a69c536cb588b2.

[2020-03-27 19:33] FFY00 opened #443 "Add a release"
Hey, would it be possible to add a release so that litex can be distributed? Same goes for the other components. Thanks.

[2020-03-27 19:36] mithro commented on #443
@FFY00 -- How are you planning on distributing LiteX? Distributing it through a Linux distros package management solution is a **very** bad idea. We could be better at auto publishing packages on PyPi however.

[2020-03-27 19:38] FFY00 commented on #443
There's no big difference between distributing it in a distro and in pypi. Could you elaborate please?

[2020-03-27 19:44] mithro commented on #443
Uploading to PyPi would be automatic as part of the Travis CI on every git commit -- this keeps the delta between people using the git repo and people using PyPi very small. Uploading to distros is out of the LiteX communities hands and hence will happen at random intervals leading to large deltas (which leads to large support costs).

[2020-03-27 20:27] FFY00 commented on #443
Now, that is what I would consider to be a bad idea. It will let users run into issues like this: ae6ef923afc0e9832acae88492b748c601755049. But I supposed it's the same as right now.

I see no reason for this project to not have a release model (should I?). Forcing people to use the latest version will only result in more instability. You can still have a rapid release model (eg. release every oth

[2020-03-27 21:10] enjoy-digital commented on #443
@FFY00 I was also thinking about doing releases for quite some time. This will indeed improve stability for users and will also ease development and eventual API changes that will be listed for each release. For me, stability will only increase if distributed packages are based on proper releases and not updated at each commit, so we should probably only distribute the released versions. If develo

[2020-03-27 23:30] FFY00 commented on #443
@enjoy-digital that would be great. While you are figuring out how it would work, please consider following [semver](https://semver.org/) to easily document API changes.

[2020-03-28 09:34] enjoy-digital commented on #443
@FFY00 for the version number, i don't think we'll use something like MAJOR.MINOR.PATCH, but something simpler like what is done in buildroot: do regular releases (every 3 months?) and just use YYYY.MM for the version with a log of the major changes and API changes. I'd like to avoid something complicated, just have released versions that have been well tested and that users can use if they want s

[2020-03-28 15:55] FFY00 commented on #443
That is reasonable. Like you said, just having a release would be a great improvement.

[2020-04-04 15:43] frantony commented on #413
I have pushed updated barebox version to github, please see https://github.com/litex-hub/barebox/tree/20200404.litex-vexriscv-linux

This version can run linux from https://github.com/litex-hub/linux-on-litex-vexriscv-prebuilt
please see the docs in the https://github.com/litex-hub/barebox/commit/6889b19424da09d32871f47a7e899f941e749272 commit message.

Here is a small demo:
  * openocd loads fpga

[2020-04-04 18:02] enjoy-digital commented on #413
Thanks a lot @frantony! i'll test it very soon.

[2020-04-05 11:10] GuzTech commented on #372
If I might give my humble opinion, I would like to ask for supporting nMigen. While I know that it is not "stable" yet, the support for formal verification is what is the most compelling reason for using it to me. I know that [miform](https://github.com/cr1901/miform) exists, but I don't know how well it works.

If nMigen would be supported, then I (and I hope others) would be compelled to actuall

[2020-04-05 14:02] enjoy-digital commented on #372
Thanks @GuzTech for sharing your opinion. Using/supporting nMigen is indeed part of the roadmap, at least in compat mode to first evaluate the work it would be to do the real switch to nMigen:

But even in compat mode, verifying all the actual codebase with nMigen still requires some work and the few people that are working on LiteX have not been able to focus on that yet. We are currently improvi

[2020-04-06 11:47] GuzTech commented on #372
Thank you for the reply. I'm sure it is a lot of work to change LiteX so that it uses nMigen, so I completely understand if it takes time to do it. In the meantime the trick with the Minerva CPU is actually really useful! I want to make clear though, that I didn't mean that you guys must formally verify your IP, but that it would be easier for contributors to write formal proofs for (parts of) you

[2020-04-06 13:22] enjoy-digital commented on #372
Indeed we understand each others. I just wanted to emphasis that formal verification is not the solution to everything, it's a nice tool, that can have very interesting additional value when used on cases that are difficult to cover with functional simulation but easier to cover with formal. I clearly see cases in the different cores where it would use useful to exercise a bit of formal verificati

[2020-04-06 17:32] morganrallen opened #449 "add note to quick start guide about ~/.local/bin path"
The quick start guide suggests adding the `--user` switch to `litex_setup.py` which I think installs into `$HOME/.local`. It took me a while to figure out the `lxsim` executable ended up in `$HOME/.local/bin` which was not already part of my `$PATH`

[2020-04-07 04:22] opendbf opened #453 "lxsim --cpu-type=vexriscv Make exit status 2"
After following the installation guide in the readme, I ran the lxsim command that is detailed in this readme and recieved an error that appears to trace back to a make call to a make file at this address /litex/litex/soc/software/libcompiler_rt/Makefile.  I am stumped as I am not familiar with this setup yet (ubuntu and litex).  The following is the last line of the traceback when I run lxsim --c

[2020-04-07 06:32] mithro commented on #453
Please include the full traceback. This just tells us that make faile.

[2020-04-07 08:51] #449 closed

[2020-04-07 10:46] enjoy-digital opened #454 "Finish windows testing with Travis-CI"
https://github.com/enjoy-digital/litex/pull/451 has been integrated, but windows testing has been commented for now since failing. This needs to be investigated. cc @mithro.

[2020-04-07 11:24] opendbf commented on #453
Traceback (most recent call last):
  File "/home/haines/.local/bin/lxsim", line 11, in <module>
    load_entry_point('litex', 'console_scripts', 'lxsim')()
  File "/home/haines/litex/litex/tools/litex_sim.py", line 371, in main
    trace_end   = int(args.trace_end))
Sorry, I would give you guys a screenshot but I do not have an editor for it at the moment on this machine.  The following is the fil

[2020-04-07 11:26] enjoy-digital opened #455 "soc/cores/clock: add AltPLL for Altera/Intel devices."
similar to the clock abstraction modules already available for the others FPGA families.

[2020-04-07 11:29] enjoy-digital opened #456 "soc/core/clock: ECP5PLL, verify clki_freq_range."
Is it before of after the input divider? This is unclear from the documentation and test with clarity designer seems to suggest it's after the divider.

[2020-04-07 11:33] enjoy-digital opened #457 "soc/core/clock: find all the valid config and use the one that minimize the error."
Currently, the first config that satisfies the margin on all outputs is used.

[2020-04-07 11:37] enjoy-digital commented on #453
@opendbf: can you check that `compiler_rt` has been cloned correctly by looking at `litex/soc/software/compiler_rt` and see if it's not empty? If not, can you try to reinstall LiteX using: https://github.com/enjoy-digital/litex/wiki/Installation?

[2020-04-07 12:00] opendbf commented on #453
The directory is not empty, however it contains two files: A make file and mulsi3.c.  Running ./litex_setup.py gcc does not appear to do anything as the command exits with no output to the terminal.  I inspected the litex_setup file and there does not appear to be a gcc command option.

[2020-04-07 12:20] enjoy-digital commented on #453
The two files should be in `libcompiler_rt`, not `compiler_rt`, so if you don't see it, it's probably that the clone has failed. `litex_setup.py` has just been updated to support gcc install, can you make sure you have the last version?

[2020-04-07 15:04] enjoy-digital commented on #455
Initial supported has been added with https://github.com/enjoy-digital/litex/commit/0f17547c5b9ecc70acc3d4382f3e824cae060d57 and tested on De0Nano board with: https://github.com/enjoy-digital/litex/commit/ab4906ea3b2a8be806e99b69849592e77158f3cf.

[2020-04-08 02:56] opendbf commented on #453
I deleted all the files and completed the install again.  The problem seems to be resolved but now there is a new traceback upon running lxsim --cpu-type=vexriscv.  The program cannot find any cross compilation toolchains.  My path is as follows:
$ echo $PATH
/home/me/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin

Traceback (most rece

[2020-04-08 06:00] enjoy-digital commented on #453
Can you make sure the RISC-V toolchain is in your path? Here is how Travis-CI is doing it:
https://github.com/enjoy-digital/litex/blob/master/.travis.yml#L38-L41

[2020-04-08 07:05] enjoy-digital commented on #455
CycloneIVPLL, CycloneVPLL, Cyclone10LPPLL and Max10PLL objects have been added and tested/used on litex-boards targets.

[2020-04-08 07:05] #455 closed

[2020-04-08 23:05] opendbf commented on #453
The previous issue is resolved after running the commands on the TravisCI script.  Now I am getting the following problem.

chmod -x bios.elf
 OBJCOPY  bios.bin
chmod -x bios.bin
python3 -m litex.soc.software.mkmscimg bios.bin --little
make: Leaving directory '/home/me/enjoy_digital/soc_simsoc_litex_sim/software/bios'
Traceback (most recent call last):
  File "/home/me/.local/bin/lxsim", line 11,

[2020-04-09 08:58] enjoy-digital opened #460 "Remove lxterm/USB FIFO workaround"
When loading images with lxterm and with a USB FIFO as UART in the FPGA (a lot faster than a traditional UART), a small delay is required after sending each frame: `time.sleep(1e-4)`

This needs to be investigated and fixed. The issue has been initially found as part of https://github.com/litex-hub/linux-on-litex-vexriscv/issues/119.

[2020-04-09 09:17] mubes opened #461 "SDRAM failure with current Yosys"
Hi,
when using current master Yosys (42e7e4420768ae4bdf0a7ae32234a9c10939c8f0) to create a ulx3s litex configuration (`ulx3s.py --device=LFE5U-25F`) memtest fails as follows;
[code]
Yosys 9b982e92 does not exhibit this problem and bisecting leads to 164dd0f6b298e416bd1ef882f21a4d0b5acfd039 as being the first commit that creates the issue, but that commit appears benign. Also, replacing VexRiscv wi

[2020-04-09 10:07] enjoy-digital commented on #461
Hi @mubes,

i also experienced instabilities with the SDRAM on the ULX3S. That's probably not directly related to the hardware and tools but more of clocking settings in the targets. I was planning to investigate this more with a scope to understand, i'll do it soon.

[2020-04-09 10:12] mubes commented on #461
No problem.  If I can help then drop me a note. I've got a ULX3S and
5A-75B board here I can use, and a couple of half decent scopes.

Regards

On 09/04/2020 11:07, enjoy-digital wrote:

[2020-04-10 13:17] enjoy-digital commented on #215
SPI Flash support is currently being re-written in LiteSPI (https://github.com/litex-hub/litespi). The new core will cover all features that were planned.

[2020-04-10 13:17] #215 closed

[2020-04-10 13:20] enjoy-digital commented on #453
It seems you don't have a C compiler installed. Can you do (if on Ubuntu)?:
[code]

[2020-04-10 13:22] enjoy-digital commented on #461
The issue was in Nextpnr:
- https://twitter.com/fpga_dave/status/1248514139959504897
- https://github.com/YosysHQ/nextpnr/commit/a8111bba830524fd7d572836d07d72a137cc32f0

But this has useful to improve LiteX/LiteDRAM while investigating :)

[2020-04-10 13:23] #461 closed

[2020-04-10 13:26] opendbf commented on #453
Sure can! I’ll post the result later. Thanks again!

[2020-04-10 14:00] mithro commented on #215
@xobs - Can you log an issue about the SB_SPI hard macro on the litespi repository?

[2020-04-10 23:59] opendbf commented on #453
That worked! LxSim works perfectly now! Great work!

Thanks!

[2020-04-12 16:41] gojimmypi opened #463 "litex_setup.py update - fails on new repos"
Perhaps petty, but [litex_setup.py update](https://github.com/enjoy-digital/litex/blob/master/litex_setup.py) doesn't handle new repos gracefully:

[code]
of course, a quick manual clone resolved:

[code]

[2020-04-12 17:49] enjoy-digital commented on #463
@gojimmypi: thanks for reporting. An exception is now raised with https://github.com/enjoy-digital/litex/commit/a8bf02167aa26934aa64605c6f12bc7142cd2313 indicating that you need to re-run `./litex_setup.py init` and `./litex_setup.py install`.

[2020-04-12 17:49] #463 closed

[2020-04-12 18:39] gojimmypi commented on #463
@enjoy-digital thanks for the prompt response. Seems to have worked.

Note when I initially ran `./litex_setup.py init` I saw the errors below. In my case, I needed to add the `--user` parameter. I wonder if there's some way to detect the permission problem and prompt the user with something like "_perhaps you meant to add the --user parameter?_". Fortunately I had this in a script to remind me.

[2020-04-12 19:08] enjoy-digital commented on #463
Thanks for the feedback. I think we'll try to improve things after merging https://github.com/enjoy-digital/litex/pull/399, that is also doing some changes in `litex_setup.py`.

[2020-04-12 19:34] gojimmypi opened #465 "migen conv_output.py FileNotFoundError: [Errno 2] No such file or directory: 'top.v'"
I updated my toolchain today... broke it. I re-ran `./litex_setup.py` (with `--user param`) as noted in https://github.com/enjoy-digital/litex/issues/463#issuecomment-612652220 - everything up to date, but the `top.v` file seems to not be generated anymore. Any suggestions where to look? Thanks

[code]

[2020-04-12 20:50] enjoy-digital commented on #465
It seems Migen is not able to create the `top.v` file, but i'm not sure to understand why. I would recommend doing a clean re-install.

[2020-04-12 22:27] gojimmypi commented on #465
I was doing this on WSL and noticed in task manager that Python was taking up a lot of CPU, even though my sessions all seemed to be sitting idle. I closed all my WSL prompts and the Python process continued. (I was not using Python anywhere else). I ended up rebooting, and all appears to be better now. I did not re-install Migen, so I don't know what the root problem was.

I'm happy to close this

[2020-04-13 00:50] mithro commented on #465
Windows can't deal with two programs trying to write to the same file and it sounds like you had another Python process that had hung writing to the file in the background. The other option is something went wrong earlier when the code tried to create the gateware directory.

[2020-04-13 01:01] xobs commented on #465
It could also be Windows Defender blocking access to the file.  I've seen that, but I'm not sure how that would interact with WSL.

[2020-04-13 03:06] gojimmypi commented on #465
It seems to behaving now. Well, other than my new [LiteX memtest](https://github.com/litex-hub/litex-boards/issues/66) problem that seems to have crept in while I was fussing with upgrading the toolchain. But the Windows OS does indeed "see" the underlying WSL filesystem. When doing a big git clone / build - my AV software is usually quite busy scanning. Indeed that may likely have been the proble

[2020-04-13 07:56] enjoy-digital commented on #465
@gojimmypi: good if it's behaving correctly now. I'm not sure we can prevent this from happening if the OS is not in a clean stage before running the scripts. I suggest we close this and you could re-open it in case you see the situation happen again. I'll look at https://github.com/litex-hub/litex-boards/issues/66.

[2020-04-13 07:56] #465 closed

[2020-04-13 16:56] ilesser opened #466 "Add hard processor support for Cyclone V"
Started a discussion in the [litex-boards reporsitory](https://github.com/litex-hub/litex-boards/issues/63) about providing support for HPS in Cyclone V SoCs.

Ultimately the best way to do it is to create something similar to [SoCZynq](https://github.com/enjoy-digital/litex/blob/master/litex/soc/integration/soc_zynq.py).
I was thinking of SoCCV.

[2020-04-14 06:32] enjoy-digital commented on #466
Maybe you could use a more generic name (SoCHPS?) since the same HPS is probably also used on CycloneV and ArriaV, but we could still figure out the best name once things are implemented and working.

[2020-04-14 07:41] ilesser commented on #466
Good idea. I've read a lot of doc about cyclone v and I think I can handle it.
Do you know if arria v is so much different?

[2020-04-14 10:51] ilesser commented on #466
What's the best approach, add the hps as an instance (as it is handled in the [SoCZynq](https://github.com/enjoy-digital/litex/blob/master/litex/soc/integration/soc_zynq.py)) or create an actual subclass of the [CPU](https://github.com/enjoy-digital/litex/blob/master/litex/soc/cores/cpu/__init__.py#L9) class?

[2020-04-14 11:05] ilesser commented on #466
I was also thinking of compiling the HPS with all the possible options using Qsys and then uploading the generated verilog to the repo (similar to the rest of the CPU classes).

Legally speaking, is this ok? should I take any particular measures to upload Qsys generated verilog?

[2020-04-14 12:03] ilesser commented on #466
The advantages of subclassing the CPU class is that you don't have to modify the argument parsers to let the user select if it wants a hps or a sps (soft processor system implemented in the fpga).
But the CPU subclass that implements the hps should only accept certain platforms (in this case only altera platforms with cyclone v or arria v chips).

[2020-04-14 12:15] ilesser commented on #466
Qsys can be run using the Quartus Prime Lite Edition which has access to Cyclone V device support.

In the [Intel FPGA Software License Agreements](http://fpgasoftware.intel.com/eula/19.1) I don't see any license for Lite edition so I assume it is ok to upload the code to the repository.

Plus on the [main download page](https://www.intel.com/content/www/us/en/software/programmable/quartus-prime/d

[2020-04-14 12:55] enjoy-digital commented on #466
We could probably use the Qsys project file for the HPS and let Quartus regenerate the verilog during the build. This avoid having generated verilog files in the repositories (that's what we are doing on LitePCIe for example). But in a first time, i think you should try to create a LiteX SoC without CPU (based on SoCMini for example) and add the HPS as a Wishbone Master (through a AXI2Wishbone bri

[2020-04-14 13:21] ilesser commented on #466
I am half way trough that.

Using a precompiled hps would reduce synthesis time by a lot. We can get back at it once the SoC is working

[2020-04-16 01:29] xobs opened #468 "GenericProgrammer: no module named `requests`"
This got picked up by CI last night:

[code]

Probably caused by https://github.com/enjoy-digital/litex/commit/5e149ceda2e60ffce2740f8ef60f66428bbba449

Full log at: https://ci.betrusted.io/job/foboot/43/console

[2020-04-16 03:00] mithro commented on #468
@xobs Guess the setup.py / requirements.txt files should add requests as a requirement?

[2020-04-16 06:49] enjoy-digital commented on #468
Thanks for catching it, requests has already been added to setup.py with https://github.com/enjoy-digital/litex/commit/2d018826532e486b94615c6b9cee4f16a924dba2 but i just moved the import to only do it when needed with https://github.com/enjoy-digital/litex/commit/c0c5ae558ace64d37741c135af0d5c7be05c23c8.

[2020-04-16 06:49] #468 closed

[2020-04-20 09:40] ilesser commented on #466
I am making progress but there are a few design choices I would like to discuss so my decisions match the project intentions. If possible I would like some feedback on them (silence would mean aproval?)

1. For now we need an ip .qsys file with the description of the hps for quartus to compile. I have moved the addition of this file to the platform into the board platform specification mainly beca

[2020-04-20 10:54] enjoy-digital commented on #466
Thanks for the update.

For 1) you can use the `platform.add_source` to add the qsys file and we could figure out later where is the best location for this file.

For 2) from what i understand you are already using AXI2Wishbone (https://github.com/enjoy-digital/litex/blob/master/litex/soc/interconnect/axi.py#L405) but you need a Wishbone2AXI? If so, you should be able to just use Wishbone2AXILite

[2020-04-20 11:03] ilesser commented on #466
1) Thanks!

2) I need a wishbone to axi3 (full) interconnection. AXI Lite won't be enough.

3) Great!

[2020-04-20 11:07] enjoy-digital commented on #466
LiteX is not supporting bursts on the wishbone bus, so when used in LiteX,  AXI Lite should be enough. I could create a Wishbone2AXI class if you want (that just translate AXI Lite to AXI by setting the specific AXI signals not present on AXILite to 0).

[2020-04-20 11:09] ilesser commented on #466
I didn't know that wishbon bus is not supporting burst, AXI lite will be then.

If you could create the Wishbone2AXI class that would be great!

[2020-04-20 11:17] enjoy-digital commented on #466
Yes sure, i'll add a Wishbone2AXI class.

[2020-04-20 11:59] ilesser commented on #466
Is it ok if I create some AXI4 to AXI3 adaptors?

[2020-04-20 15:40] enjoy-digital commented on #466
@ilesser: yes sure.

[2020-04-23 06:26] enjoy-digital opened #471 "Add SERV support"
SERV is a bit-serial  RISC-V core that could be useful in some designs to replace a complex FSM by a CPU while still minimizing resource usage. This would be a perfect fit for LiteDRAM standalone core where the CPU is only doing the DRAM initialization.

Initial SERV integration has been pushed to https://github.com/enjoy-digital/litex/tree/serv but needs to be finished.

The LiteX SoC with  SERV

[2020-04-26 13:27] gregdavill commented on #471
So I just setup a project here using SERV. So I wish I'd seen this a few hours ago.

One thing I hit when bringing up my project was the wishbone address bus. LiteX uses a word addressed bus, Serv a byte addressed one, which provides the lowest 2 bits. So I had to drop these on both instruction and data buses.
[code]

When I get a chance I'll take a look at your initial integration.

[2020-04-26 14:35] enjoy-digital commented on #471
@gregdavill: thanks for the feedback. I just fixed these points in the initial integration https://github.com/enjoy-digital/litex/commit/2efd939d06ba7903892fc5a742838b49ab1728fb.
There is still probably something wrong somewhere since the simulation is still not booting, i will have a look in the next days. Is your project available somewhere to have a look?

[2020-04-26 15:16] gregdavill commented on #471
I think we need to use `serv_rf_top` here:
[code]
https://github.com/enjoy-digital/litex/compare/serv#diff-9f586f8936c1ea0b2741be8735346161R91

This adds the register file to the CPU, providing just the wishbone interface out. I think it's separated like this so that potentially the RF and instruction memory can be combined into a single RAM block for an even smaller footprint.

[2020-04-26 15:27] gregdavill commented on #471
Also I'm not sure if this is just a bug I'm seeing. But yosys throws an error on this default parameter.
[code]

[2020-04-26 19:10] enjoy-digital commented on #471
Thanks @gregdavill, i indeed made a typo on the top level name, with `serv_rf_top` this is now working in simulation :) I'll do some tests with Yosys and on hardware tomorrow.

[2020-04-27 10:36] gregdavill commented on #471
An option for overcoming the issues with that default parameter, from https://github.com/olofk/serv/issues/24

We can use the `-defer` option for `read_verilog` in yosys. This avoids the issue.
I'll make a PR so you can see the changes.
[code]

[2020-04-27 12:11] enjoy-digital commented on #471
SERV just landed in LiteX, thanks @gregdavill, @olofk for fixing the issues, finding the missing pieces.

@olofk: in case you want to test, if LiteX and Verilator are installed, you can just do: `litex_sim --cpu-type=serv` or if you want to test on hardware, you can select one of the targets in https://github.com/litex-hub/litex-boards/tree/master/litex_boards/targets and do `./target.py --cpu-typ

[2020-04-27 17:35] olofk commented on #471
I'll give it a try and let you know how it goes. Interesting about the python packages. Haven't looked at them closely but it sounds like it would make sense to parse FuseSoC .core files to get the info you need. Especially for more complex verilog/vhdl cores or subsystems which potentially depend on other cores

[2020-04-28 07:36] enjoy-digital commented on #471
Thanks @olofk, when using external Verilog/VHDL, relying on FuseSoC is something we should indeed explore.

[2020-04-28 10:11] enjoy-digital commented on #471
#399 has been merged and https://github.com/litex-hub/pythondata-cpu-serv has been created, so SERV now comes pre-installed and can just be used as any other CPU with just `--cpu-type=serv` :)

[2020-04-28 10:11] #471 closed

[2020-04-28 10:19] enjoy-digital commented on #394
https://github.com/enjoy-digital/litex/pull/399 has been merged and a first `2020.04` release has been created for this breaking change with https://github.com/enjoy-digital/litex/commit/56aa7897df99d7ad68ea537ab096c3abdc683666. There is a note in the README and Wiki for existing users explaining LiteX will have to be reinstalled. Thanks all for the discussions, ideas and work, i think we managed

[2020-04-28 10:19] #394 closed

[2020-04-28 10:31] enjoy-digital commented on #443
A first `2020.04` release has been created with https://github.com/enjoy-digital/litex/commit/56aa7897df99d7ad68ea537ab096c3abdc683666. Merging https://github.com/enjoy-digital/litex/pull/399 introduced a breaking change and it was probably a good opportunity to create the first release. The version number is YYYY.MM and we'll probably do regular releases every 3 months.

[2020-04-28 10:31] #443 closed

[2020-04-28 10:33] enjoy-digital commented on #344
With #399 merged, we are now using the updated Vexriscv verilog, so with the hardware breakpoints.

[2020-04-28 10:33] #344 closed

[2020-04-28 13:10] FFY00 commented on #443
In a similar fashion, can https://github.com/litex-hub/pythondata-software-compiler_rt also get a release? This way I can actually package litex :)

[2020-04-28 13:31] enjoy-digital commented on #443
@FFY00 yes sure, i just did it.

[2020-04-28 13:32] FFY00 commented on #443
Awesome, thanks!

[2020-04-28 15:32] bunnie opened #479 "litex broken under python3.5"
The use of f-string formatting in on this line breaks litex under python 3.5.2:

https://github.com/enjoy-digital/litex/blob/56aa7897df99d7ad68ea537ab096c3abdc683666/litex/build/lattice/programmer.py#L35

This is from commit 351551a041f737b7b0ac08132a5b356fa8be468b

It looks like f-strings were introduced in python 3.6+

Was it the intent to break environments running with python 3.5? That is, wha

[2020-04-28 15:59] mithro commented on #479
Python 3.5 was released in 2015-09-13 and the current Python version is 3.8 -- If you are upgrading, jump straight to 3.8

Currently tested versions are 3.6, 3.7 and 3.8 -> https://travis-ci.com/github/enjoy-digital/litex

[2020-04-28 16:00] FFY00 opened #480 "Tests failing (minerva target)"
It complains about `litex/soc/cores/cpu/minerva/verilog/cli.py` being missing, which is true (https://github.com/enjoy-digital/litex/tree/2020.04/litex/soc/cores/cpu/minerva).

Seems like the CI is skipping this target and so the error sneaked in.

Just a side note, if you want, you can use an arch docker image in the CI as we should have all the required dependencies.

[code]

[2020-04-28 16:07] FFY00 commented on #480
For people running into the same issue, you can just pass `-k-test_variants_minerva` to pytest to ignore this test :smile:.

[2020-04-28 16:12] bunnie commented on #479
So is it official policy that python 3.6>= is required for Litex?

I don't think "old" is a reason on its own to deprecate support. Ideally it would be a reason like, "this feature is crucial to rock solid code" or "there was a security problem and the upstream maintainers aren't fixing it so we've deprecated this version (e.g. like Python2)".

Example: NeTV2 was started in 2016 and is now in main

[2020-04-28 16:20] mithro commented on #479
@bunnie I'm not sure I understand? For projects not in active development why would LiteX be changing?

FYI - It is always recommended you use isolated environments + installs (not based on your system) for each project you have -- this is specially for maintenance mode projects.

[2020-04-28 16:28] bunnie commented on #479
Litex isn't changing. The version of Python3 on the system is.

I've managed to deal with the changing of Litex constantly. What I didn't expect is that Litex would change in a way that would require me to move to a new version of Python3.

[2020-04-28 16:39] mithro commented on #479
@bunnie I'm still confused -- If you are not changing the LiteX version you are using then how did you get the new change which removes Python 3.5 support?

[2020-04-28 16:56] enjoy-digital commented on #479
@bunnie: the main issue with supporting Python3.5 is that developers are now familiar with Python3.6+ features and use them in their contributions. I'm already trying to avoid latest 3.7, 3.8 features and have to refactor some PRs to stick to 3.6; so it's also some efforts for the project to support older Python version. We are currently only testing with 3.6, 3.7 and 3.8 and with the `2020.04` re

[2020-04-28 17:12] enjoy-digital commented on #480
@FFY00: the Minerva support is still experimental and requires manual installation of nMigen/Yosys to generate the Verilog, so is indeed not tested in CI. That's something we could work on for the next release :)

[2020-04-28 17:36] mithro commented on #479
I'm wondering if we are dropping 3.5 if we should also drop 3.6 and 3.7 at the same time?

My feeling is that for most people moving from Python 3.5 to Python 3.6 is about as much work as moving from Python 3.5 to Python 3.8?

Python 3.8 is a pretty *nice* release and has quite a few nice features like much better enum, dataclasses and things like that.

[2020-04-28 17:43] mithro commented on #480
@enjoy-digital - FYI -- If we used conda on CI, then we could easily test nMigen as it provides Yosys....

The conda steps these days are pretty simple (and almost work on Mac / Win / Linux);
`conda-instal.sh`
[code]

`conda-enter.sh`
[code]

The `environment.yml` sets up which channels to use and binaries to install. It can also reference a normal `requirements.txt` for Python requirements.

Cond

[2020-04-28 17:45] mithro commented on #480
FYI - @FFY00 Also did an experiment around creating a github-action which I believe is docker based and could be used as another alternative?

[2020-04-28 17:54] bunnie commented on #479
I have a VM running Ubuntu 16.04 (for legacy Vivado reasons) that uses Python3.5. I built NeTV2 originally in this VM. Also in this VM I'm building Betrusted devices.

The version of Litex for NeTV2 is pinned (this is a feature of lxbuildenv, the tooling that xobs made) separately from the Betrusted stuff. Basically we have a "deps" directory associated with every Litex project that allows us to p

[2020-04-28 18:02] enjoy-digital commented on #480
@mithro: the question is is not necessarily CI here, it's that nMigen/Minerva support in LiteX is still experimental and nMigen is also not yet installed with `litex_setup.py`. We will first need to think about how we'll do it in `litex_setup.py` (but without Conda if possible) and this will also solves the issue with CI.

[2020-04-28 18:11] bunnie commented on #479
Right, I get that now. I will take measures in the future to snapshot an environment in a separate VM once a product ships. Unfortunately because I knew so little about how unmaintainable Python can be when I started NeTV2, I made all the mistakes and that build is extremely fragile. I originally had this idea that I'd have a VM where all the Litex stuff lives, but it's now turning into a VM-per-p

[2020-04-28 19:03] mithro commented on #479
@bunnie - I think you might be starting to understand why `litex-buildenv` uses conda to isolate the Python / LiteX / compilers / everything from the based system.

[2020-04-28 19:43] bunnie commented on #479
Conda has other problems...but yah, it's basically a whole separate VM
for every build, one way or the other. :-/ Who has this kind of disk
space...

[2020-04-28 19:58] enjoy-digital commented on #479
I think the risk of upgrading the interpreter has to be evaluated the same as upgrading Vivado, GCC, or any other tool involved in the process of generating the gateware or software. Your reasoning with using a VM for LiteX project seems valid, but the fact that you switch to a VM per product to avoid a Python interpreter change seems a bit extreme. It also has to be evaluated, and as you can see,

[2020-04-28 20:28] mithro commented on #479
@bunnie - https://www.amazon.com/dp/B078DPCY3T/ref=twister_B07P5VF5TL?_encoding=UTF8&th=1 -- 1tb is $150 USD

@enjoy-digital -- Having the CI testing the Python versions we support is the best way for us to make sure that it doesn't regress (which is how we actually discovered that we had *already* broken Python 3.5 support). Trying to improve the test coverage will help here too.

@bunnie - Have

[2020-04-29 03:10] TomKeddie opened #486 "Denoting active low in pin definitions?"
The arduino platform has done a good job of centralising a few definitions like LED_BUILTIN that mean the same piece of code will build for most (all?) boards.  It would be great to come up with a few baseline pins that most platforms support (like a led and a button) so we can use the same simple examples for large number of platforms.

One issue I see with this is many platforms define their io

[2020-04-29 06:39] enjoy-digital commented on #486
@TomKeddie: thanks for the feedback, in fact i'd like to keep the Platform files very low level and avoid too much abstrations there: try to keep a direct mapping from/to a Xilinx .xdc file, Quartus .qsf, Lattice .lpf, etc...

The usual rule here in the `Platforms` is to:
- don't use suffix for active high signals.
- use `_n` suffix for active low signals.

That's also a common practice when doing

[2020-04-29 06:58] enjoy-digital commented on #479
With https://github.com/enjoy-digital/litex/pull/488 i added back Python3.5 testing in Travis-CI. I'm ok doing efforts trying to keep things compatible with Python3.5 until we have a good reason to no do so, but i would still recommend using Python3.6+ for new users so will keep this in the README/setup.py. In the future, we'll make sure to discuss/warn users about these changes, but users should

[2020-04-29 06:58] #479 closed

[2020-04-29 07:15] enjoy-digital opened #489 "Add Minerva CPU dependencies to litex_setup.py"
To experiment designs with LiteX and nMigen, instead of using pre-generated verilog for Minerva CPU, we are elaborating the verilog during the build with nMigen and Yosys. This create an additional depencency for LiteX and we should see how to add this to `litex_setup.py`. It seems there are some efforts to simplify this with https://github.com/nmigen/nmigen/issues/371, we could probably reuse the

[2020-04-29 07:18] enjoy-digital commented on #480
I just created https://github.com/enjoy-digital/litex/issues/489 to fix the Minerva dependencies. For now you have to skip this unit-test since this was experimental. @FFY00: are you able to skip it on your side for packaging or should we do the modifications here?

[2020-04-29 07:55] bunnie commented on #479
We learned from the NeTV2 experience and everything on Betrusted is now
in CI and we can keep up with the environment change, so we are agile
enough there.

The 3.5 breakage is mainly a concern for NeTV2. Calving that off to a VM
so I can build its bitstreams ten years from now is probably the right
way to go. I just thought we had it figured out when we decoupled the
dependency of Litex version f

[2020-04-29 12:18] FFY00 commented on #480
Yes, I can skip the test, as I said the my 2nd comment :smile:.

[2020-04-29 14:37] TomKeddie commented on #486
Hi Florent, thanks for being open to the feedback.  I think you're right, the current model is very clean.  As much as auto-sensing the _n in example code is ambigous it's probably the way to go.  I might have a go at a multiplatform example to kick this off.   Thanks.

[2020-04-29 17:03] enjoy-digital commented on #486
@TomKeddie: I think we can keep this open to continue discussing and try to implement the solution i was suggesting. This will also be an opportunity to verify that all `user_leds`/`user_btns` are defined with the right polarity (which i'm not sure for all platforms).

[2020-04-29 17:08] TomKeddie commented on #486
Good idea thanks, I'll take this on.  Will update progress here.

[2020-04-29 18:20] mithro commented on #479
@bunnie - For *very* long term things like this, I think a full VM is your only real option. For example, I can actually still boot MSDOS 2.0 in a VM today.

@bunnie - I think you should also think about a story around "handing over maintenance to the community". With this model, as long as a device has a community around it, then it continues to get updates and once that community disappears, the

[2020-04-29 19:03] bunnie commented on #479
@mithro - I'd love it if the community wanted to maintain the NeTV2. I'm
definitely taking PRs.

However, I think it would be lame if I didn't at least have a support
plan that went beyond "sorry, I can't actually test a patch because I
broke my original environment keeping the rest of my toolchain up to
date. Maybe someone else can help?"

Also, NeTV2 is different in that the primary customer for

[2020-04-29 19:39] mithro commented on #479
@bunnie - Having both a;
 - a "officially supported" NeTV2 firmware. That is generated from a fixed VM and never upgrades LiteX.
 - a "community supported" NeTV2 firmware which follows the evergreen policy.

And then declaring "AlphaMax only provides supports for the reduced functionality official build" and  "For support around the community build please see these forums" seems pretty reasonable

[2020-04-29 20:56] bunnie commented on #479
OK, sounds like we're basically on the same page there. I guess is there
an HDMI2USB or other project build that's mature enough at this point
for me to start pointing people at? I saw a bunch of commits toward that
recently but unclear what the current status is.

[2020-05-02 02:36] scanakci commented on #391
I made a PR which includes a version of BP that supports Linux and simulates BIOS .
https://github.com/litex-hub/pythondata-cpu-blackparrot/pull/1

Since I am using a commit from a developer branch of BP, I did not put as a submodule for now. I will add those submodules later when I make my BP version upstream.

I will make another PR for LiteX repo changes sometimes this weekend.

[2020-05-02 02:56] scanakci commented on #391
I will update the PR based on @mithro's suggestion.

[2020-05-02 18:24] scanakci opened #493 "DRAM tests fail for Genesys board at 125MhZ"
Unfortunately, memory tests for Genesys boards are failing for Rocket, VexRiscv, (and for BlackParrot) at 125 MhZ. I used almost the latest versions of LiteX and LiteDRAM. If I try lower frequencies, LiteX BIOS does not come to the screen and I observe meaningless characters. I hope my FPGA did not die :)

LiteDRAM(dfe6f90569e7bb505c7b2a1fe0938308019eed1b)
LiteX(e853cac6b618a226d8213789724be6b3786

[2020-05-02 19:46] enjoy-digital commented on #493
With the new automatic Command/Clk scan, it's possible you will need to set `cmd_latency=1` here: https://github.com/litex-hub/litex-boards/blob/master/litex_boards/targets/genesys2.py#L55-L58, similar to what is done on the KC705 for example: https://github.com/litex-hub/litex-boards/blob/master/litex_boards/targets/kc705.py#L61.

[2020-05-02 19:48] #480 closed

[2020-05-02 19:51] enjoy-digital commented on #489
nMigen is now installed with `litex_setup.py` and Minerva using the pythondata package. Yosys is still expected to be installed separately, but will probably be available as a pythondata package soon.

[2020-05-02 19:51] #489 closed

[2020-05-03 06:17] scanakci commented on #493
Thanks @enjoy-digital. I did some tests after setting cmd_latency=1. Here are my results.
Overall, 100MhZ and 125MhZ worked fine but 60-75MhZ failed. I am using 100MhZ for now without any issues.

               | VEX   | Rocket | BP
60MhZ  | N/A    | failed   | failed
75MhZ   | failed | N/A     | failed
100MhZ | pass  | N/A     | pass
125MhZ | pass  | pass   | pass

[2020-05-03 08:59] enjoy-digital commented on #493
Thanks for the feedback @scanakci, that's good you have a working version, we are currently working on avoiding the manual adjustements that are currently needed. I have a Genesys2 board and will be able to test this.

[2020-05-04 08:27] mateusz-holenko opened #495 "Vivado settings sourcing"
0b923aa removes the support for automatic sourcing of Vivado settings - now all vendor tools are required to be in PATH.

Unfortunatelly this approach causes problems for ISE/Vivado tools as they come with/require many standard libraries in specific versions. As a result adding Vivado directory to PATH allows to run the tool itself, but might cause other software (e.g., vim) to crash rendering the

[2020-05-04 08:27] mateusz-holenko commented on #495
cc @mithro

[2020-05-04 09:26] enjoy-digital commented on #495
@mateusz-holenko: the comment in the commit was maybe no complete: Vivado can be in the PATH or the setting file sourced manually. When sourced manually, the behavior will be similar to the previous one. Have you tried that?

Sourcing things automatically is not something simple if we want to do it correctly and i'm not sure it should be in the scope of LiteX.

[2020-05-04 14:17] mithro commented on #495
@enjoy-digital - The problem we have run into is that sourcing the vivado settings causes lots of other non-vivado tools to crash (including Python), thus we need to source the settings *just* before we run Vivado and no sooner than that.

[2020-05-04 14:25] mithro commented on #495
It seems like sourcing the vivado settings at the top of `build.sh` just before we run vivado commands would fix that.

BTW sourcing settings.sh can also cause Yosys to crash.

[2020-05-04 14:59] enjoy-digital commented on #495
We could use environment variables like: `LITEX_ENV_VIVADO`, `LITEX_ENV_ISE` let LiteX integrate the sourcing in the `build.sh` if the environment variables are defined, but the automatic sourcing was complicated and causing others issues so that was not a good solution.

[2020-05-04 15:10] mithro commented on #495
@enjoy-digital - We are happy to provide a "insert these commands before running vivado" type script....

[2020-05-04 15:21] enjoy-digital commented on #495
@mithro: thanks, i would be fine with it. With 0b923aa i just wanted to avoid the automatic sourcing that cause others issue when a specific version of the tools is required. Here it would still be manual (The user will have to specify the environment that will be used) and sourced at the right time to avoid others issues.

[2020-05-04 15:27] mithro commented on #495
@enjoy-digital I guess we could monkey patch the `_build_script` method?

[2020-05-04 16:32] enjoy-digital commented on #495
@mithro: yes this seems fine.

[2020-05-04 21:46] mithro commented on #495
@mateusz-holenko Can you take a stab at that?

[2020-05-05 09:12] ozbenh opened #497 "Broken build with "serv" CPU & Vivado 2019.02"
Using litex-boards/targets/arty.py --cpu-type="serv" gives me errors from Vivado when hitting the generated .v files from LiteX such as:

ERROR: [Synth 8-6735] net type must be explicitly specified for 'serial_rx' when default_nettype is none [/home/benh/hackplace/litex/litex-boards/litex_boards/targets/soc_basesoc_arty/gateware/top.v:6]

This seems to be caused by the fact that serv source files

[2020-05-05 09:41] mateusz-holenko commented on #495
Sure, I'll work on this

[2020-05-05 15:04] enjoy-digital commented on #497
Thanks for reporting, this is fixed with https://github.com/enjoy-digital/litex/commit/b0578580714ad7d298e244fc3835c06ba082f2c1.

[2020-05-05 15:04] #497 closed

[2020-05-05 15:07] enjoy-digital commented on #493
Closing since fixed.

[2020-05-05 15:07] #493 closed

[2020-05-05 19:52] DurandA opened #498 "libcompiler_rt/Makefile: No such file or directory"
When reinstalling the latest LiteX from master via pip, I noticed that SoCs wouldn't build anymore:
[code]

Digging further, `litex/soc` from my installation did not contain a `software` folder. [_litex/soc/software_](https://github.com/enjoy-digital/litex/tree/master/litex/soc/software) is not a Python module so I suspect that the issue comes from https://github.com/enjoy-digital/litex/commit/3ae

[2020-05-05 20:06] DurandA commented on #498
There is another issue:
[code]

CPU verilog sources has been moved to dedicated repos. However, _cpu_ folders still have some non Python sources that must be included in the manifest.

[2020-05-06 16:54] #498 closed

[2020-05-07 07:39] enjoy-digital commented on #245
With https://github.com/enjoy-digital/litex/commit/9bef218ad6616d4d8b958e34de1f6e87b7cbdd99, Microwatt is now running on hardware. It will still be useful to support the GHDL-synth flow to ease simulations and use the FOSS toolchains.

[2020-05-09 00:52] DurandA opened #501 "Memory-mapped ECP5SPIFlash"
While trying to add SPI flash support to the [_ecp5_evn_](https://github.com/litex-hub/litex-boards/blob/master/litex_boards/targets/ecp5_evn.py), I noticed that the [`ECP5SPIFlash`](https://github.com/enjoy-digital/litex/blob/fbbbdf03b583a5571069fb747170e6749ad118e6/litex/soc/cores/spi_flash.py#L372) is not memory-mapped.

Does it mean no BIOS support to boot images from flash?

Is using SPI flas

[2020-05-09 10:46] enjoy-digital commented on #501
`ECP5SPIFlash` is indeed not MMAP. If you want to to have MMAP SPI Flash support, you can use the `add_spi_flash` method (https://github.com/enjoy-digital/litex/blob/master/litex/soc/integration/soc.py#L1185-L1201)  as done here: https://github.com/litex-hub/linux-on-litex-vexriscv/blob/master/make.py#L375-L379

I will also have a look to integrate `SPIFlash` to targets in the next days.

[2020-05-09 12:13] DurandA commented on #501
Many thanks. I missed the fact that `add_spi_flash` takes care of the clock primitive for the ECP5.

[2020-05-11 10:39] DurandA commented on #501
What are the reasons to have disabled 1x mode support?
https://github.com/enjoy-digital/litex/blob/1e610600f6a088941700d6736e0621010527ef64/litex/soc/integration/soc.py#L1193

The SPI flash ([_Macronix MX25L12833F_](https://www.macronix.com/Lists/Datasheet/Attachments/7447/MX25L12833F,%203V,%20128Mb,%20v1.0.pdf)) of my _ecp5_evn_ board requires prior configuration to enable QIO, so I forced the 1x

[2020-05-11 11:08] enjoy-digital commented on #501
The 1x mode should work but hasn't been tested integrated with `add_spi_flash` and some checks should probably be added in the integration. If you enable 1x mode, make sure to use an IO definition similar to this: https://github.com/litex-hub/litex-boards/blob/master/litex_boards/platforms/minispartan6.py#L28-L33 and to use the correct `dummy_cycles` value.

[2020-05-11 11:51] DurandA commented on #501
I see, the 1x mode uses *fast* read/write while I used 0 zero dummy cycles and this explains the offset. I am still not able to write memory from firmware/BIOS but I probably misinterpreted page/sector size from the datasheet.

Do you want me to make a PR to re-enable 1x support? I am thinking of something along the lines of the following (unless you want to accept only `spiflash` and not `spiflas

[2020-05-11 12:28] enjoy-digital commented on #501
For now the SPIFlash module only support MMAP reads. The writes need to be done by the bitbang interface. Are you trying to do write with MMAP? The 4X mode should have write support over MMAP soon with: https://github.com/enjoy-digital/litex/pull/478.

If you confirm that the reads are working, we could indeed enable it, but we should probably avoid too much try/except, so maybe we should just use

[2020-05-11 12:48] DurandA commented on #501
Excellent, thanks. I confirm that read is working so I will prepare a PR. I am also preparing some documentation for bare metal programming on the [_litex-buildenv_ wiki](https://github.com/timvideos/litex-buildenv/wiki/Bare-Metal).

I guess I will try to configure 4X mode with my SPI chip in order to load kernels on flash with `litex_term`. Is there an existing script to add length/CRC header on

[2020-05-11 12:56] enjoy-digital commented on #501
For the length/CRC, you probably want to use this: https://github.com/litex-hub/linux-on-litex-vexriscv/blob/master/make.py#L417-L423.

[2020-05-11 20:53] #501 closed

[2020-05-12 08:11] scanakci commented on #391
I updated the BP version that boots up Linux with this [PR](https://github.com/enjoy-digital/black-parrot/pull/1). The recent PR](https://github.com/enjoy-digital/litex/pull/506) in LiteX repo updates the README and core.py in addition to a minor change in vivado command for properly generating bitstream for system verilog.

[2020-05-12 13:27] AnttiLukats opened #512 "build fails on Win platform"
it like:

memusage.py

fails fatal on WIN platform, all the rest seems working!

Please fix or just add option to exlude memusage from build to let the build succeed

[2020-05-12 14:02] enjoy-digital commented on #512
@AnttiLukats: thanks for reporting, do you have more information on the fail? If it because `readelf` is not present or if the readelf output parsing is failing?

[2020-05-12 19:30] scanakci commented on #391
Can you please merge [PR](https://github.com/enjoy-digital/black-parrot/pull/1) for BlackParrot repo as well unless there is an issue?

[2020-05-13 06:08] enjoy-digital commented on #323
@scanakci: do you still have the issue?

[2020-05-13 06:12] enjoy-digital commented on #391
Sorry, that's now merged. Now that things are working, we should also probably see if we could generate https://github.com/litex-hub/pythondata-cpu-blackparrot directly from the official BlackParrot repository. I mostly created https://github.com/enjoy-digital/black-parrot to avoid the recursive clone of the black-parrot repository (that was done automatically since LiteX was clone with --recursiv

[2020-05-13 06:16] scanakci commented on #391
The latest commit in official blackparrot repo will most probably not gonna work since there are some architectural changes that I should adapt to LiteX. My next step is to integrate most recent version of BlackParrot and generate pythondata-cpu-blackparrot using the recent version. I will make another PR once it is done.

[2020-05-13 06:25] scanakci commented on #323
I found a temporary workaround for this issue by using a different version of udivmoddi4.c. For IA extension, user needs to replace udivmoddi4.c file in compiler-rt with a version that I provide in pythondata-cpu-blackparrot. By sourcing a [bash script](https://github.com/scanakci/litex/blob/master/litex/soc/cores/cpu/blackparrot/setEnvironment.sh#L23), a user can easily replace the file. BP start

[2020-05-13 06:31] scanakci commented on #323
I actually forgot to mention another issue. I fixed the compilation problem by using this  [specific line](https://github.com/enjoy-digital/litex/blob/master/litex/soc/software/bios/Makefile#L4). I had to specify the libgcc.a (generated for IA) to the linker directly.

[2020-05-13 06:34] enjoy-digital commented on #391
Ok thanks i understand. Let's keep things like this then for now.

[2020-05-13 07:29] enjoy-digital opened #515 "Improve standalone cores"
To continue the discussion from https://github.com/enjoy-digital/litex/pull/511

On Tue, 2020-05-12 at 07:28 -0700, enjoy-digital wrote:

Except it doesn't work that way unfortunately, at least with the stuff
that's in git right now.

The main problem is that since LiteDRAM creates the exported wishbone
interface with an address_size matching the CSR address size, we lose
all the top bits. But the

[2020-05-13 07:29] enjoy-digital commented on #515
On Tue, 2020-05-12 at 07:28 -0700, enjoy-digital wrote:

Another small nit. You changed my updating of self.mem_map["csr"]
to instead do this:

        self.add_csr_bridge(self.mem_map["csr"] if csr_base is None else csr_base)

This works, however the log printed when generating still has the
0x82000000 base all over rather than the specified one. Not a huge deal
but can be confusing esp. when deb

[2020-05-13 07:56] enjoy-digital commented on #515
@ozbenh: we can continue the discussion here.

I just made changes that simplify things should make your LiteDRAM case working again:
https://github.com/enjoy-digital/litex/commit/9d1443c1a8fe5b13d53f23b8165c423f3e6d629a and https://github.com/enjoy-digital/litedram/commit/6fb8396d8e63114eb8708437c3396aaeb65a5abb.

Now when cpu is set `CPUNone`, the `CSRs` will automatically be mapped to `0x000000

[2020-05-13 09:49] ozbenh commented on #515
On Wed, 2020-05-13 at 00:56 -0700, enjoy-digital wrote:

I'll try later tonight but this will still have these issues:

 - csr.h will now have 0-based constants, which will break the init
code. Possible solutions I can think of for that for that would be:

    * Introduce some kind of sw_csr_base argument that gets added to
the constants generated in csr.h but not to the hdl

    * For me to build

[2020-05-13 10:29] AnttiLukats commented on #512
Very weird, on different install on fresh new PC the problem does not appear, the difference is that first PC that had this failure used "make" from Cygwin, while the second PC takes make from MSYS2 install folder. This is as much as I can describe the issue. There really is or may be an issue, but it may also just work if lucky.

[2020-05-13 10:55] xobs commented on #512
Try setting `SHELL` to `C:\Windows\system32\cmd.exe`.  If `make` finds `bash` in your PATH, it will use that as the `SHELL`.  Otherwise, if you're on Windows, it will use `cmd.exe`.  It sounds like it's finding `sh.exe` and using that, but it's not a complete environment so it won't work.

[2020-05-13 11:46] ozbenh commented on #515
So I got it working after doing a bunch of changes to hw/common.h so I can provide my own CSR accessors which include the necessary offset.

The address decoding work because of the change you did to litedram: wb_bus = wishbone.Interface(self.bus.address_width) is basically equivalent it seems to wb_bus = wishbone.Interface(), I'm not sure what you intended here, but we get a 29:0 wishbone, which

[2020-05-13 11:55] enjoy-digital commented on #515
Thanks for the feedback, can you do a test by changing https://github.com/enjoy-digital/litex/blob/master/litex/soc/integration/soc.py#L831-L832  to:
[code]
I'd like to see the impact of the extra-features vs the InterconnectShared. If the extra-feature are causing this, we could disable them for your use case.

[2020-05-13 12:15] ozbenh commented on #515
A bit better. Still... 77 extra slices and a few more F8 muxes.

[code]

[2020-05-13 12:44] enjoy-digital commented on #515
Thanks for the results, so what we could do in the SoC is using `InterconnectPointToPoint` when:
- len(bus_masters) == 1
- len(bus_slaves) == 1
- when there is no address translation, ie the only bus slave is mapped at 0x00000000.

Do you want to look at this or do you want me to implement it?

[2020-05-13 13:10] ozbenh commented on #515
I can look at it (provided I figure out where to get the right mem_map entry :-)

This leaves us with the problem of CSR base being 0 in the generation of csr.h

Can you think of a way to provide an offset that gets added to the values in csr.h ? I haven't looked at all in that part of the generator at this point.

[2020-05-13 13:32] enjoy-digital commented on #515
For the origin, you can get it with the origin of the only bus region that will be declared. For the CSR offset, not sure this should be handled directly in LiteX/LiteDRAM since this is related to the way the core is integrated, but when generating the csr.h we could define and use a `CSR_BASE` that could be overriden by the user. I will work on that.

[2020-05-13 13:37] ozbenh commented on #515
A CSR_BASE would work. The main issue will be if/when mingling multiple csr.h from different generated cores but I can handle that by "wrapping" the inclusion via another file that defines the corresponding CSR_BASE.

[2020-05-13 13:39] ozbenh commented on #515
BTW. You may want to completely remove the argument to wishbone.Interface() in litedram, I don't think the way you changed it does what you intended (unless I'm mistaken), and if you intention was to pass the actual bus address width (32) then that's not great, we definitely don't want 32-bits addr lines on a 32-bit wide wishbone, only 30. So the default is probably ok to keep as it used to be.

[2020-05-13 13:43] ozbenh commented on #515
Ok, I tested the patch below and I'm back to the exact same usage as my original patch series, despite not shrinking the wishbones down from 30 bits:
[code]
Are you happy with the above ? If yes, I'll send a PR

[2020-05-13 13:57] ozbenh commented on #515
BTW. If you add CSR_BASE, make it so that it's added to all the various xxx_BASE definitions, not in the accessors themselves. On Microwatt I need to use my own accessors defined externally, but the same accessor pair will have to deal with litedram and other IP blocks we might use (liteeth and sdcard are on the radar :-)

[2020-05-13 13:58] enjoy-digital commented on #515
@ozbenh: can you review https://github.com/enjoy-digital/litex/pull/518?

[2020-05-13 14:03] enjoy-digital commented on #515
@ozbenh: the changes are fine yes, i'll maybe do little changes but you can send a PR.

[2020-05-13 14:05] ozbenh commented on #515
Ok. I also already sent one for the hw/common.h changes. As for CSR_BASE, I need to hit the sack, I'll try them out tomorrow.

[2020-05-13 14:56] DurandA commented on #501
There seems to be further issues with the `SPIFlash` on some cores. I switched my CPU from _serv_ to _vexriscv_ and the data appeared to be scrambled again, similarly to when I had the wrong `dummy_cycle` value.

I noticed that the [_versa_ecp5_](https://github.com/litex-hub/linux-on-litex-vexriscv/blob/b5afdeb534236f51d6c2e2f9a89914cb04aa14c6/make.py#L183) is configured with 11 `dummy_cycles`. Ho

[2020-05-13 14:59] DurandA opened #520 "Wrong SPI flash dummy cycles on VexRiscv"
There seems to be further issues with the `SPIFlash` on some cores. I switched my CPU from _SERV_ to _VexRiscv_ and the data appeared to be scrambled again, similarly to when I had the wrong `dummy_cycle` value.

I noticed that the [_versa_ecp5_](https://github.com/litex-hub/linux-on-litex-vexriscv/blob/b5afdeb534236f51d6c2e2f9a89914cb04aa14c6/make.py#L183) is configured with 11 `dummy_cycles`. Ho

[2020-05-13 15:01] xobs commented on #520
VexRiscv is a little-endian system, so you need to set `endianness="little"`.  For example:

https://github.com/im-tomu/foboot/blob/master/hw/foboot-bitstream.py#L213

[code]

[2020-05-13 16:17] DurandA commented on #520
I used [`add_spi_flash`](https://github.com/enjoy-digital/litex/blob/78413cc09e5a0e944d1c1aa9b8c753413fbc54e3/litex/soc/integration/soc.py#L1204) which set endianness to `self.cpu.endianness` so I don't think this is the issue. Also _SERV_ is little-endian as well.

[2020-05-13 16:41] enjoy-digital commented on #520
@DurandA: could you do a test with PicoRV32 to have another result and see if it has a similar behavior than one of the previously tested CPU or if it's different? Note that if you are aware of the content of the SPIFlash, you can adjust the dummy byte by looking at the shift you see when doing a `mr` command to the SPIFlash region of the SoC with the BIOS, but switching the CPU should indeed not

[2020-05-13 16:57] DurandA commented on #520
_PicoRV32_ behaves like _SERV_ with the SPI flash (= correctly). The issue seems to be with _VexRiscv_ that requires one extra dummy cycle.

[2020-05-13 19:00] DurandA opened #522 "Flashing SPI using SFL with bios has no effect"
Flashing the firmware to SPI flash using `litex_term --kernel firmware.fbi --flash`  doesn't seem to modify the flash content.

I am investigating on the issue as the `fw` bios command works fine.

[code]

[2020-05-13 20:42] DurandA commented on #522
It works fine. I did not realize that [`erase_flash_sector()`](https://github.com/enjoy-digital/litex/blob/c96f31a9adaec15c846ea23747d933d64314059d/litex/soc/software/libbase/spiflash.c#L73) uses the 0xD8 command while the [Micron N25Q128A datasheet](https://www.micron.com/-/media/client/global/documents/products/data-sheet/nor-flash/serial-nor/n25q/n25q_128mb_1_8v_65nm.pdf) reference this as a bl

[2020-05-13 20:42] #522 closed

[2020-05-13 20:44] mithro commented on #522
FYI -- https://github.com/litex-hub/litespi/blob/master/litespi/modules/modules.py

[2020-05-13 20:47] mithro commented on #522
And https://github.com/litex-hub/litespi/blob/master/litespi/modules/generated_modules.py

[2020-05-13 21:08] DurandA commented on #522
@mithro Thanks! Strangely, _LiteSPI_ doesn't define a sector size so I wonder how partial erase is done.

[2020-05-13 22:03] mithro commented on #522
@DurandA -- LiteSPI is only new, I logged https://github.com/litex-hub/litespi/issues/35 to figure out what is happening there.

[2020-05-14 02:38] DurandA commented on #520
Note that fixing this issue will require the update of https://github.com/litex-hub/linux-on-litex-vexriscv/blob/master/make.py.

[2020-05-14 04:32] ozbenh commented on #515
CSR_BASE change working fine. The only issue is that I need to use either gcc -D or -include option to force-define as csr.h doesn't #include anything I could use to set that for now (see other discussion for options here). But feel free to merge this for now.

[2020-05-14 13:46] enjoy-digital commented on #515
@ozbenh: i think everything should be good now, thanks.

[2020-05-14 13:46] #515 closed

[2020-05-14 13:48] enjoy-digital commented on #453
Closing since resolved.

[2020-05-14 13:48] #453 closed

[2020-05-14 16:26] DurandA commented on #520
I saw that in 3fb99b7 you reverted to the read-only _older_ SPI core by default. I am not absolutely sure if I had a this change integrated so I will make the experiments again and edit this post.

From version after 3fb99b7 I also noticed some difference in behaviour when booting a firmware directly without bios from flash (using `--cpu-reset-address 0x20000000` and `--integrated-rom-size 0`) wit

[2020-05-14 19:20] DurandA commented on #520
I also tested with _Minerva_ (and failed to compile the BIOS with _Microwatt_). Here is a recap of my results with the _Macronix MX25L12833F_ flash:

| CPU core | variant | adjusted `dummy_cycles` (tested using `mr` from BIOS) | execute in place
| --- | --- | --- | --- |
| VexRixcv | standard | 9 | ✓ (with 8 `dummy_cycles`)
| SERV | standard | 8 | ✗
| PicoRV32 | standard | 8 | ✗
| Minerva | standa

[2020-05-14 20:13] DurandA commented on #520
Results are inconsistent and vary as I [change the Trellis/nextpnr seed](https://github.com/enjoy-digital/litex/pull/484).

Maybe an issue with clock domain crossing? This is way beyond my expertise. Maybe @daveshah1 has a suggestion on how this could be debugged.

[2020-05-14 21:07] enjoy-digital commented on #520
@DurandA: interesting, it could also be that IO registers are not used, i could have a look, are you using `SpiFlashDualQuad` or `SpiFlashSingle`?

[2020-05-14 21:23] DurandA commented on #520
I am using `SpiFlashSingle` and am currently looking into changing the configuration of the flash chip to enable QIO. I have a work-in-progress fork of @gregdavill [ecpprog](https://github.com/gregdavill/ecpprog) to read/write registers so I will report the results once I am amble to use `SpiFlashDualQuad`.

[2020-05-15 07:48] DurandA commented on #413
Just my two cents, but I like the fact that the current BIOS is so minimal that it can be completely understood very quickly.

[2020-05-15 08:10] enjoy-digital commented on #413
@DurandA: i think the title of the issue is missleading, we are not going to remove the current BIOS, but the idea is to keep it minimal and for complex features, use a proper bootloader.

[2020-05-15 08:17] AnttiLukats opened #525 "litex_setup.py fails on WIN 10"
fresh install on fresh win10 PC: litex_setup.py goes as far as:
pythondata_software_compiler_rt, then comes >
[installing litex]
python3: cant't open file 'setup,py'

what todo, how to make the install to proceed?

[2020-05-15 09:07] enjoy-digital commented on #525
We will need more information/help to be able to investigate. Can you check that the clone of litex has been done successfully? Can you try to run the same command manually?

[2020-05-15 10:02] AnttiLukats commented on #525
clone OK
well I can not execute the command manuall as in the litex/litex subdir there is no setup.py ?

[2020-05-15 10:36] enjoy-digital commented on #525
Can you list what you have in the directory?  Can you also provide the full installation logs?

[2020-05-15 10:40] enjoy-digital commented on #512
This seems to be the case described in the README:
`Note: On Windows, it's possible you'll have to set SHELL environment variable to SHELL=cmd.exe.`

[2020-05-15 10:41] #512 closed

[2020-05-15 11:22] DurandA commented on #525
Do you have any success by using setup.py directly (or using pip)?

[code]

[2020-05-15 11:33] AnttiLukats commented on #525
pip install litex says that requirement already satisfied and does nothing

[2020-05-15 11:35] AnttiLukats commented on #525
warning: no previously-included files matching '*.py[cod]' found anywhere in distribution
writing manifest file 'pythondata_software_compiler_rt.egg-info\SOURCES.txt'
running build_ext
Creating c:\users\antti\appdata\local\programs\python\python38\lib\site-packages\pythondata-software-compiler-rt.egg-link (link to .)
pythondata-software-compiler-rt 0.0.post6191 is already the active version in eas

[2020-05-15 11:48] DurandA commented on #525
Can you try forcing reinstall (i.e. `--upgrade` or use `pip uninstall` and then `pip install`)?

[2020-05-15 12:45] AnttiLukats commented on #525
you mean litex_setup.py update ?
tried that, no change, at same place comes "setup.py" not found error

[2020-05-15 13:10] DurandA commented on #525
I meant `pip install --upgrade git+https://github.com/litex-hub/pythondata-software-compiler_rt.git` (or `pip3 ...`) and then `pip install --upgrade git+https://github.com/enjoy-digital/litex.git`. If is still fails you can try to remove the package eggs manually.

[2020-05-15 13:17] AnttiLukats commented on #525
OK, tried out no changes :( but you see the litex subdirectory, there is no setup.py
so the install MUST fail ? i do not understand this...

[2020-05-15 13:26] DurandA commented on #525
Where is your _litex_ directory located? Is it a subfolder of the current directory from where you are launching the python/pip commands or it is `/lib/python3.8/site-packages/litex` or similar (=Python packages default location on Windows)? Can you remove it and try again?

[2020-05-15 13:29] AnttiLukats commented on #525
Verzeichnis von B:\GitHub\litex\litex

15.05.2020  15:28    <DIR>          .
15.05.2020  15:28    <DIR>          ..
15.05.2020  15:28                 0 1
13.05.2020  11:07    <DIR>          boards
13.05.2020  11:07    <DIR>          build
13.05.2020  11:07    <DIR>          gen
13.05.2020  11:07    <DIR>          soc
15.05.2020  14:44    <DIR>          tools
13.05.2020  11:07               639 __i

[2020-05-15 13:47] DurandA commented on #525
Can you try to remove your clone (`B:\Github\litex\`) and do the above commands (pip will clone the repos automatically):

This should be easier than debugging your local installation.

[2020-05-15 13:47] enjoy-digital commented on #525
The issue is probably to install litex, you should only download `litex_setup.py` (and not clone the repository):
[code]

[2020-05-15 13:59] AnttiLukats commented on #525
case closed. Indeed must only get 1 file and not clone reposotory :( sorry for trouble.

[2020-05-15 13:59] #525 closed

[2020-05-15 14:06] AnttiLukats opened #528 "build does not complete (WIN10)"
it seems the build process stops after "memusage" part of gatware files are not generated, etc

log:

python3 -m litex.soc.software.mkmscimg bios.bin --little                                                                                                                                                           python3 -m litex.soc.software.memusage bios.elf /b/GitHub/litexx/litex-boards/litex_boa

[2020-05-15 14:08] AnttiLukats commented on #528
firmware and most of gatware is generated ok, when adding dummy quartus project file then quartus builds ok

[2020-05-15 15:05] enjoy-digital commented on #245
Install ghdl-yosys-plugin:
[code]

[2020-05-15 15:26] enjoy-digital commented on #245
Generate the verilog (from ghdl-synthesis-test branch):

`microwatt.ys`:
[code]
`
yosys -q -m ghdl microwatt.ys`

[2020-05-15 16:25] enjoy-digital commented on #528
Are you passing `--build` to the target? (this is now required to build the bitstream).

[2020-05-15 17:44] mithro commented on #413
@enjoy-digital I renamed the issue to "Investigate a two stage bootloader (keeping LiteX BIOS minimal and using an external bootloader for complex features)"

[2020-05-15 18:56] enjoy-digital commented on #413
@mithro: ok thanks.

[2020-05-16 09:22] ozbenh commented on #245
Looks great, I'll play with this and maybe integrate some of that into Microwatt own makefiles, it will definitely be useful for simulating with litedram.

BTW. What do you use on the DDR side for simulating litedram ? A micron model ? Or do you have your own ?

[2020-05-16 10:29] enjoy-digital commented on #245
@ozbenh: just for info, with this, GHDL/Yosys were able to convert Microwatt to verilog using the `ghdl-synthesis-test` branch or Microwatt. I tried litex_sim and Verilator was able to compile it and run it but the BIOS was not showing up and i haven't investigated. If you want to run the simulation, you can follow the previous steps to generate `microwatt.v ` then replace this: https://github.com

[2020-05-16 10:31] AnttiLukats commented on #528
no I did not, assumed all is still working as it was used to work- will try out monday.

[2020-05-16 11:27] ozbenh commented on #245
Thanks. Is there a way for LiteX to generate a verilog version of the DRAM model ? For the "standalone microwatt" case, I want to toy around with the user port interface to wishbone to do things like pipelining etc... and the easiest seems to be to do it in verilog using a little test bench, and throw the whole lot at verilator. I can then use that verilog in microwatt directly or convert it back

[2020-05-16 11:29] ozbenh commented on #245
Hrn... thinking twice, that means I probably also need sim models of all the xilinx PLL etc... that won't be as easy as I initially thought...

[2020-05-16 13:23] CarlFK opened #529 "pi - litex_setup.py SyntaxError self._filter_files: List[str] = []"
On raspberry pi:
https://github.com/enjoy-digital/litex#quick-start-guide

Installed /home/pi/tv/nmigen
Processing dependencies for nmigen==0.3.dev46+ge301798
Searching for pyvcd~=0.2.0
Reading https://pypi.python.org/simple/pyvcd/
Downloading https://files.pythonhosted.org/packages/f5/f2/abecbfcd77273654571e532f3e1fd694e4f3573a30f358392851b3a5988a/pyvcd-0.2.1.tar.gz#sha256=fad6b9e2cd68049968a43fd

[2020-05-16 13:24] CarlFK commented on #529
full log:

pi@netv2mvp:~/tv $ wget https://raw.githubusercontent.com/enjoy-digital/litex/master/litex_setup.py
--2020-05-15 12:10:22--  https://raw.githubusercontent.com/enjoy-digital/litex/master/litex_setup.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.184.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.184.133|:443... connected.
HT

[2020-05-16 19:17] CarlFK commented on #529
full log:

pi@netv2mvp:~/tv $ wget https://raw.githubusercontent.com/enjoy-digital/litex/master/litex_setup.py
--2020-05-15 12:10:22--  https://raw.githubusercontent.com/enjoy-digital/litex/master/litex_setup.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.184.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.184.133|:443... connected.
HT

[2020-05-16 19:17] #529 closed

[2020-05-16 19:18] CarlFK commented on #529
Python 3.5 - not supported.

[2020-05-17 05:53] ozbenh commented on #245
Allright, had to hack/tweak a few things, I'll get back to you, I now got the sim running. I'll try to get to the bottom of it but it might take a while. I assume there's no way to get the report() statements out of ghdl.... Also note that --trace-fst and --trace-end xxx both generate errors when building the sim.

[2020-05-17 07:19] enjoy-digital commented on #245
@ozbenh: good, have you also been able to get the CPU/BIOS working in simulation? I could work on finishing the integration with litex_sim next week. I'll also look at --trace-fst/--trace-end.

[2020-05-17 07:24] ozbenh commented on #245
No I haven't yet. I can see the CPU fetching some instructions and I see them out of the icache but it stops doing that sanely pretty quickly. I haven't figured out why yet. Note: It's a very painful process, because microwatt stores everything in records and the ghdl-synth+yosys process turns all these into giant vectors :-( Also the vcd files coming out of litex are humongous :-)

I wish instead

[2020-05-18 06:24] AnttiLukats commented on #528
it was the missing --build, case closed

[2020-05-18 06:24] #528 closed

[2020-05-18 06:36] ozbenh commented on #245
So there was a ghdl synth bug. I made a test case and Tristan fixed it (https://github.com/ghdl/ghdl/issues/1319). It works in sim with the latest microwatt, though you probably want the patch below applied to microwatt (at least until Anton merges it ) and then wire the interrupt to the core to '0'.

Note about interrupts: If we're ever going to run Linux on microwatt with LiteX we'll want the xi

[2020-05-18 06:58] enjoy-digital commented on #245
Great! Thanks for looking at this, i'll reproduce your results and will do the LiteX integration to automate this when runnning `litex_sim --cpu=microwatt`.

[2020-05-18 15:36] enjoy-digital commented on #245
@ozbenh: with https://github.com/enjoy-digital/litex/commit/a02077d547d603d3cbf9bcbcd365efcf084969e3, you now just have to set `use_ghdl_yosys_synth` to True to convert the Microwatt sources from VHDL to verilog automatically during the build. So if you want to use it in simulation, just do `litex_sim --cpu-type=microwatt` or with a target: `target.py --cpu-type=microwatt --build` (i haven't teste

[2020-05-18 23:24] ozbenh commented on #245
Great, thanks. Yes there are problems with how memories are inferred with Yosys still.

[2020-05-19 11:29] enjoy-digital commented on #245
By reducing the number of ICache/DCache lines to `2` to avoid the resource usage explosion, the generated verilog is working fine on hardware and built with FOSS tools :) : https://twitter.com/enjoy_digital/status/1262701132012490754

![IMG_5628](https://user-images.githubusercontent.com/1450143/82320604-d9d53800-99d3-11ea-894f-377a0cecf3a2.JPG)

[2020-05-19 11:31] enjoy-digital commented on #104
WIP with VexRiscv at: https://github.com/enjoy-digital/litex_vexriscv_smp

[2020-05-19 12:16] enjoy-digital commented on #301
This is now integrated in the BIOS.

[2020-05-19 12:16] #301 closed

[2020-05-19 12:18] enjoy-digital commented on #177
There are no ongoing efforts to import/support this core and now have others RISC-V linux capable alternatives (Rocket, BlackParrot), so i'm closing but please re-open if someone is willing to put efforts into this.

[2020-05-19 12:18] #177 closed

[2020-05-19 12:19] enjoy-digital commented on #342
There are no ongoing efforts to import/support this core and now have others RISC-V linux capable alternatives (Rocket, BlackParrot), so i'm closing but please re-open if someone is willing to put efforts into this.

[2020-05-19 12:19] #342 closed

[2020-05-19 14:25] enjoy-digital commented on #495
@mateusz-holenko: can you check https://github.com/enjoy-digital/litex/commit/b4267a79011fa7dd7cb84961196875d3be81f077 is doing what you wanted? On Linux distribution we you can now just do:
[code]
And sourcing will be done automatically just before running Vivado.

[2020-05-20 05:13] ozbenh opened #532 "CSR_BASE discrepancy"
Commit 748ef1add31bccf
"export: add define of CSR_BASE if not already defined and use it for CSRs definitions/accesses."

Added a CSR_BASE to the generated/csr.h file.

For normal LiteX this is meant to not change anything. The individual CSR accessors
are now expressed in term of CSR_BASE + offset instead of having the origin baked
into the offset but that's about it. At least in theory :)

This

[2020-05-20 13:47] DurandA commented on #520
I [finally managed](https://github.com/gregdavill/ecpprog/issues/1#issuecomment-631481837) to enable Quad I/O mode on my flash. So far I haven't observed the same issue as in single I/O mode but I will try with more CPU cores/nextpnr seeds just to make sure.

[2020-05-20 16:38] DurandA commented on #520
For convenience, here is the [diff between `SpiFlashSingle` and `SpiFlashDualQuad`](https://diffy.org/diff/bokjs94ogn3jzpxbuknj98uxr).

[2020-05-24 23:42] gsomlo opened #540 "commit 0db350699 breaks `--with-sdcard` build for upstream LiteX"
Attempting to build LiteX with `--with-sdcard` (on the nexys4ddr) fails:

[code]

results in `error: 'SDREAD_BASE' undeclared` and `'SDWRITE_BASE' undeclared` here:

https://github.com/enjoy-digital/litex/blob/master/litex/soc/software/liblitesdcard/sdcard.c#L39

Those two constants were introduced by commit 0db350699 ("Update Litex bios to handle updated litesdcard."). I can only assume they're p

[2020-05-25 12:41] mateusz-holenko commented on #540
In https://github.com/enjoy-digital/litesdcard/pull/7 we extended the LiteSDCard core so it's fully usable in Linux (https://github.com/litex-hub/linux-on-litex-vexriscv/blob/master/soc_linux.py#L236).

As a part of this work we extended LiteX BIOS sdcard testing capabilities by adding tests for reading/writing actual data. They require additional memory regions (buffers) - `SDREAD` and `SDWRITE`

[2020-05-25 17:24] gsomlo commented on #540
@mateusz-holenko : thanks, the patch does indeed fix the compilation error. However, testing (from the bios prompt) fails: after (successfully) completing `sdinit`, I write some test string to block `0x10`:

[code]

After that, trying to read the data back fails:

[code]

This happens both with the 64GB SanDisk card that *used* to work pre-0db350699 (and LiteSDCard commit da5467b), and with the 32

[2020-05-26 08:02] enjoy-digital commented on #245
The GHDL-Yosys-plugin path can now be selected with `--cpu-variant=standard+ghdl`. We can now simulate and build Microwatt with vendors' or FOSS toolchains:

Simulation with the verilog generated from GHDL-Yosys-plugin and Verilator:
[code]

Build on Arty with the VHDL files:
[code]
Build on Arty with the verilog generated from GHDL-Yosys-plugin:
[code]

Some improvements can still be done on the

[2020-05-26 08:28] enjoy-digital commented on #495
Closing since a solution has been implemented with https://github.com/enjoy-digital/litex/commit/b4267a79011fa7dd7cb84961196875d3be81f077.

[2020-05-26 08:28] #495 closed

[2020-05-26 08:50] mateusz-holenko commented on #495
Sorry, I haven't test it yet, but if I see any problems I'll just open a new issue. Thanks for the support!

[2020-05-26 09:40] mateusz-holenko commented on #540
We'll grab some `nexys4ddr` and test it then (it might take a few days, though).

As for the HW we developed and tested the litesdcard core on, it was:

* Arty A7 + https://store.digilentinc.com/pmod-microsd-microsd-card-slot/
* Arty A7 + https://github.com/antmicro/arty-expansion-board

[2020-05-26 10:33] enjoy-digital commented on #540
@mateusz-holenko: thanks for ordering a `nexys4ddr`, it will ease things. I also ordered the microsd PMOD last week and should receive it soon (and also ordered other PMODs,  like the I2S one you are using for the Zephyr project).

[2020-05-27 09:27] mateusz-holenko commented on #540
It took less time than I thought (turns out I'm a pessimist). @enjoy-digital we had some HW in the office, but due to the current situation (working from home) I expected this to be more problematic than it really was.

Anyway, we were able to test it on HW and prepared another fix: https://github.com/antmicro/litex/tree/nexys4ddr-sdcard. It works for us, but could you give it a try, @gsomlo?

Tha

[2020-05-27 10:49] enjoy-digital commented on #540
@mateusz-holenko: thanks, i'll also test it on hardware. BTW as some point we should probably rework/simplify the LiteSDCard interface/integration but for now it's probably better to get everything working with Linux, we could do this work later when we'll have a reference implementation (i could do it).

[2020-05-27 12:12] enjoy-digital commented on #540
@mateusz-holenko: i can confirm this is working on Nexys4DDR. I tested with several SDCard and updated the target: https://github.com/enjoy-digital/litex/commit/2efcf8792557e4a71eb195c8793abbc25d5463d, thanks. Let's wait the results from @gsomlo to close this.

[2020-05-27 12:43] gsomlo commented on #540
@enjoy-digital @mateusz-holenko : thanks, 23fcf87 fixed it for me as well (vexriscv, 8-bit CSRs).

(next on the agenda, I'll try getting it to work on rocket and/or with 32-bit CSRs, and send a PR about that :) ).

[2020-05-27 12:43] #540 closed

[2020-05-27 15:10] gsomlo commented on #540
hmmm... Although hardcoding `sdread` and `sdwrite` to `0x80002*00` here:

https://github.com/enjoy-digital/litex/blob/master/litex/boards/targets/nexys4ddr.py#L59

is not very portable, as it overlaps with `main_ram` on Rocket...

[2020-05-27 15:31] enjoy-digital commented on #540
@gsomlo: yes we should change that, i just reused un-modified example to be sure it was working. I can have a look.
@mateusz-holenko: can you confirm that the Linux driver uses the `.dts` generated with `json2dts.py `to get these addresses?

[2020-05-27 15:43] gsomlo commented on #540
@enjoy-digital If you're going to post a fixup patch, please also

[code]

here: https://github.com/enjoy-digital/litex/blob/master/litex/soc/software/liblitesdcard/sdcard.c#L93

[2020-05-27 16:41] gsomlo commented on #540
Actually, nvm that, it's a bit more involved than just that :) Please see PR #542 instead.

[2020-05-27 20:47] enjoy-digital commented on #532
Fixed with https://github.com/enjoy-digital/litex/commit/c78caeb998156fcb9dc050c60df702cb786e2514.

[2020-05-27 20:47] #532 closed

[2020-05-28 07:44] mateusz-holenko commented on #540
That's correct.

[2020-05-28 08:10] enjoy-digital commented on #540
@mateusz-holenko: ok thanks, i did the changes to use dynamic mapping for `sdread` and `sdwrite`.

[2020-05-29 14:50] enjoy-digital opened #544 "Mor1kx support broken by #517"
#517 changes the way accesses are done on the CSRs and broke Mor1kx support: lxsim is not responding to user commands.

Command reproduce it:
`rm -rf build && lxsim --cpu-type=mor1kx --opt-level=O0`

Works before https://github.com/enjoy-digital/litex/commit/4a5072a014c4e5c1bdee4a06fbaf1b2d34a3769d.

[2020-05-29 15:46] gsomlo commented on #544
It's caused by https://github.com/enjoy-digital/litex/blob/master/litex/soc/software/include/hw/common.h#L43
cc @ozbenh -- MMPTR should always be `unsigned long`, i.e. `u32` on 32-bit CPUs (where CSR alignment is 32 bits) and `u64` on 64-bit CPUs (where CSR alignment is 64 bits).

`CSR_DATA_WIDTH` merely indicates how many of the bits ***within*** a MMPTR are ***populated***

I'll send a PR and li

[2020-05-29 17:03] enjoy-digital commented on #544
Fixed with https://github.com/enjoy-digital/litex/pull/545.

[2020-05-29 17:03] enjoy-digital commented on #544
Fixed with https://github.com/enjoy-digital/litex/pull/545.

[2020-05-29 18:27] gsomlo opened #546 "large, non-4-byte multiple CSRs vs "array" accessors"
Right now, large CSRs spread across multiple "simple CSRs" whose size is ***NOT*** a multiple of 4 bytes are distributed in a counter-intuitive way. For example, a 17 byte CSR whose hardware value is:

[code]

will be represented starting with address `addr`, on designs with `csr_data_width == 8` like this:

[code]

(so far, so good, nothing weird happening yet).

However, with `csr_data_width ==

[2020-05-29 19:45] enjoy-digital commented on #546
@gsomlo: thanks for the analysis, fixing the gateware seems indeed more logical/intuitive.

[2020-05-29 20:47] enjoy-digital commented on #546
@gsomlo: can you explain your analysis a bit?
On a large register, the LSB is the CSR simple with the higher index, so the gateware should be implementing this:
[code]
So i'm not sure there is an issue in the implementation, what you see could just be an artifact of the endianness: your addr is not really addr but addr+3.

[2020-05-30 01:59] gsomlo commented on #546
That's only true on 32-bit big-endian (e.g., mor1kx). Here's how a 17-byte scratch CSR defined as
[code]
is laid out in the address space on `(vexriscv, mor1kx, rocket) x (csr_data_with \in {8, 32})`:

[code]
Are you saying that the large-CSR fill policy is to:
1. compute how many contiguous simple CSRs are needed
2. allocate a contiguous set of simple CSRs
3. start filling them beginning with the

[2020-05-30 02:22] ozbenh commented on #544
I STRONGLY disagree. MMPTR should *not* be 64-bit if the bus width isn't 64-bit, otherwise it will cause all CSR accesses to be doubled up. Florent, this is the wrong fix.

The code was written as to take the alignment into account via CSR_OFFSET_BYTE and only do the proper access size accesses to the bus.

I don't know why Mor1kx broke and I can look into it but this is certainly not the right wa

[2020-05-30 02:28] ozbenh commented on #544
BTW. Is Mor1kx big endian ? That would explain if the CSRs follow native endian (which is also a very wrong thing to do btw, HW interfaces should have fixed well defined endianness, swapping is cheap).

[2020-05-30 02:28] mithro commented on #544
There are a couple of situations here;
 - 32bit CPU, 32bit bus and 8bit CSR width
 - 64bit CPU, 32bit bus and 8bit CSR width
 - 64bit CPU, 64bit bus and 8bit CSR width

[2020-05-30 02:29] mithro commented on #544
@ozbenh mor1kx is big endian.

[2020-05-30 02:33] mithro commented on #544
@ozbenh CSRs following native endianness makes a lot of sense in FPGA based designs where the CPU and the peripherals are coupled. FPGAs pay a huge cost for being reconfigurable, hence you should take advantage of that reconfigurability.

[2020-05-30 02:36] mithro commented on #544
FYI -- https://github.com/enjoy-digital/litex/blob/3e1b17d459c1966dd561ad5262a7cb9299575191/litex/soc/software/include/hw/common.h#L18-L20

[2020-05-30 02:40] mithro commented on #544
Just reiterating, there are 3 data widths going on here;
 (a) CPU native data width
 (b) CPU bus width
 (c) CSR bus width

As the moment (a) and (b) can be either 64bit or 32bit while (c) can be 8bit, 16bit, 32bit or 64bits.

[2020-05-30 02:43] mithro commented on #546
As I mentioned at https://github.com/enjoy-digital/litex/issues/544 -- there are actually 3 data widths going on here;
 (a) CPU native data width
 (b) CPU bus width
 (c) CSR bus width

Generally (a) and (b) are matched but not always (64bit CPU with 32bit bus exists).

[2020-05-30 02:43] ozbenh commented on #546
On Fri, 2020-05-29 at 11:27 -0700, gsomlo wrote:

Actually it *is* weird for a LE CPU, one would expect the LSB first.

So you are basically right for the organization but I'm not sure I
agree with you on endianness:

 - There should be no such thing as "native endianness CSRs". HW people
constantly come up with that concept and it makes SW life a living hell
over and over again.

Any piece of HW

[2020-05-30 02:45] ozbenh commented on #546
On Fri, 2020-05-29 at 13:47 -0700, enjoy-digital wrote:

Endianness should have nothing to do with it as I wrote earlier but
sadly it does I think.

It's still wrong IMHO to have the first address contain a stray byte
but it makes sense if you treat the CSR as a whole large 17-byte sized
number in big endian format.

However it shouldn't be like that. You shouldn't have such 'large
numbers' unless

[2020-05-30 02:47] mithro commented on #546
@ozbenh / @ozbenh -- CSRs should be implemented in whatever is the most resource efficient method on the FPGA and then software provided to make accessing them easy.

[2020-05-30 02:55] mithro commented on #546
BTW - A "17 byte long CSR" is probably not a great way to implement whatever was being implemented.

[2020-05-30 06:20] ozbenh commented on #546
@mithro "whatever is the most resource efficient for an FPGA" will lead to a number of software inefficiencies and will simply not scale if you start targeting OSes like Linux. It's also completely besides the point(s) I'm trying to make here. None of what I suggest above leads to any significant resource usage difference, it's purely how the lanes are organised.

Do you have actual valuable input

[2020-05-30 06:40] ozbenh commented on #544
No @mithro this is a false sense of benefit to use "native endianness". Your list of situations also misses the 32-bit CSR bus width which is becoming more common and might in fact become the standard.

There is no cost in hardware in using a well defined endianness for register and almost no gain in SW as the cost of the swap is negligible.

On the other hand it goes against having well defined S

[2020-05-30 07:29] enjoy-digital commented on #546
@gsomlo: the CSR fill policy is indeed the first one you are describing, the gateware side is implemented here:

- CSRStatus: https://github.com/enjoy-digital/litex/blob/master/litex/soc/interconnect/csr.py#L299-L305
- CSRStorage: https://github.com/enjoy-digital/litex/blob/master/litex/soc/interconnect/csr.py#L299-L305

@ozbenh: Large CSR like the 17-bytes one are generally avoided and i was plan

[2020-05-30 08:11] enjoy-digital opened #548 "Add optional location to CSRs within a Module"
The CSR locations within a Module are currently determined from the definition order:
[code]

Inserting a CSR between 2 CSRs moves the following ones:

[code]

Adding `csrx` will change `csr1` and `csr2` locations.

We should allow user to use fixed CSR locations within a Module to ease adding/removing a CSR without moving the others.

This could be 1 ) by providing an optional order `n` in which

[2020-05-30 09:45] enjoy-digital commented on #544
@ozbenh: thanks, we should indeed limit the supported configurations. Always having the CSR bus connected to a 32-bit bus (automatically down-converted from 64-bit when the main bus is 64-bit) and limiting csr_data_width to 8 and 32 would indeed simplify things. With this, we could also get rid of the `csr_alignment` parameter and only supports 32-bit. This will work for all my use cases, would th

[2020-05-31 01:32] mithro commented on #544
Well, I didn't want to list all the combinations;
 - 32bit CPU, 32bit bus and 8bit CSR width
 - 64bit CPU, 32bit bus and 8bit CSR width
 - 64bit CPU, 64bit bus and 8bit CSR width
 - 32bit CPU, 32bit bus and 32bit CSR width
 - 64bit CPU, 32bit bus and 32bit CSR width
 - 64bit CPU, 64bit bus and 32bit CSR width
 - 64bit CPU, 64bit bus and 64bit CSR width

(BTW A few other people have also considered

[2020-05-31 03:07] ozbenh commented on #544
So let's address alignment and endianness separately and start with the latter.

* Endianness. I disagree but....:)

So first keep in mind that most data intensive use of registers (ie, non-DMA transfers) tend to be fifo or "memcpy" style operations which do not require byte swapping in  any case (unless the bus is wired very wrongly but that's easily fixed).

Cases where bits of a registers are u

[2020-05-31 03:54] ozbenh commented on #548
What about having a name -> offset map ? That way we can have different map for different "versions" of the devices if necessary and it's nice to keep all the offsets together in one place no ?

[2020-05-31 08:04] enjoy-digital commented on #544
As we see, supporting too much configurations lead to confusion and the compromise we found with @ozbenh and @gsomlo seem to cover all cases and greatly simplify things:
- Only support 8-bit/32-bit CSR data width of 8-bit and 32-bit.
- Only support 32-bit CSR alignment.

When a 64-bit main bus is used, since `wishbone.sel` is now used as a qualifier for the CSR write, it's now possible for the CPU

[2020-05-31 17:06] mithro commented on #544
@enjoy-digital - If we are going with supporting two options, then the two options that make sense to me are;

 * 8bit CSR width
 * CPU native width

If we are okay with 3 options, then we can also add the 32bit CSR width option for usage on 64bit CPUs.

16bit CSR width only makes sense on a CPU with a native 16 bit width (which is covered by matching the CPU native width). I can't imagine a 24bit

[2020-05-31 17:26] mithro commented on #544
Yeap, I agree with that analysis.

The best option with LiteX style CSRs is to just split the read / write / direction values into separate CSRs registers so you don't need to do anything apart from byte read/writes and rotates.

The actually case where you have CSR registers which are >8bits tends to be either;
 - memory addresses
 - counters

Reading the counters wrong tends to be pretty easy to

[2020-05-31 17:33] mithro commented on #548
Who actually cares about the offset location?

 - People using the csr C headers don't? (Bare metal / etc)
 - People using the `csr.csv` or `csr.json` file don't? (Rust / MicroPython / etc)
 - People using the device tree don't? (Linux / Zephyr / etc)

Only people who are hard coding offset locations into their software?

[2020-05-31 19:52] enjoy-digital commented on #548
@mithro: when you start creating systems, you want to keep API compatibility between the different versions of the gateware and software (for all the system or at least some parts, for example a bootloader) and so try to avoid as much as possible CSR mapping changes when it could be avoided or when you are just adding a features. So it's not really a question of using the generated files but a way

[2020-05-31 23:00] ozbenh commented on #548
You will need that for Linux drivers too. The device tree will tell you where the CSR bank for the device is, but it won't tell you where each individual CSR is within the bank not the bit layouts.

It would be possible to add that info, at a significant bloat cost, but expect pushback from the community.

Linus himself has expressed very strong opinions in this area in favour of HW interfaces sta

[2020-06-01 02:16] ozbenh commented on #544
What would "CPU native width" mean in that context ?

For example on Microwatt (and I can imagine other SoCs wanting to do the same thing to save routing pressure in smaller FPGAs) the "dumb IOs" such as CSRs are segregated on a 32-bit bus behind a downconverter. In that case I wouldn't want CSRs to be 64-bits at all.

So we really have:

 - The CSR "bus width" which is the width at which we can a

[2020-06-01 06:48] enjoy-digital commented on #548
In fact it's already possible to optionally define Memory Regions mapping and CSR locations of the peripherals, adding this is just the next step to be able to create systems with fully static mapping when needed which can have several use cases:
- as @ozbenh describes, to ease having common Linux drivers, we will need to have fixed CSR location within the modules.
- this is required when deployin

[2020-06-01 07:25] enjoy-digital commented on #544
Thanks @mithro, @ozbenh for the feedback. I fully agree with @ozbenh and want to remind that:
- the CSR bus is meant to be simple and low-performance (and we see with this discussion that it seems to be missing the point on simplicity :))
- the CSR data width choices have already been reduced to 8 and 32 from common agreement between developers: https://github.com/enjoy-digital/litex/blob/master/l

[2020-06-01 15:51] mithro commented on #544
Maybe it is worth looking at the use cases for CSR registers?

---

This is how I group them;

#### Group A - Performance sensitive on microcontrollers

 - bit banging single output pins - 1bit write CSR, 1bit read CSR, 1bit direction CSR
 - lowish speed byte wide FIFO endpoints (uart, USB, etc) - 8bit read or 8bit write CSR
 - interrupt flags - 1bit read CSR for status, 1bit write CSR for clearin

[2020-06-01 20:45] mithro commented on #544
BTW - We really should write up some documentation about "good practices" on how to use LiteX CSRs.

[2020-06-02 08:00] enjoy-digital commented on #544
Supporting only 8-bit and 32-bit CSR data-with and CSR alignment of 32-bit has no impact on Group A.

For Group B, with the default behaviour of CSR, we can guarantee 8-bit atomicity with 8-bit CSR data-width, 32-bit atomicity with 32-bit CSR-width, so since want atomicity up to 32-bit for Group B, we are fine the 32-bit CSR data-width.

Now, being able to provide atomicity on arbitrary CSR size i

[2020-06-02 09:44] ozbenh commented on #544
I tend to agree that atomic 64-bit isn't a huge issue. Ideally a DMA controller should use a memory based descriptor ring anyway, so the address of the ring is configured once at start up and that doesn't need to be atomic as long as it's done before the engine is started.

If you don't use a ring, but descriptor chains, then same thing, just don't start the chain, or put a valid bit in the bottom

[2020-06-02 12:16] enjoy-digital opened #554 "Improve SymbiFlow / Arty support"
Just a few notes from the review/changes while merging https://github.com/enjoy-digital/litex/pull/551:
1) Would it be possible to automatically infer the `IBUF`? (more generally, we are probably doing some assumptions like automatic input clock buffer inference when not specified, so to avoid modifying the code just to support Symbiflow, Symbiflow should probably be able to some simple primitive

[2020-06-02 16:13] mithro commented on #554
Yosys should be able to infer `IBUF`s but it is currently not enabled.

This will be supported in the future but it will be a while before constraint propagation works.

You might be right.

We want to drop the `.pcf` file and the `.sdc` and `.xdc` file should be merged into together (`xdc` is Xilinx's extension to `sdc`.

Yes.

Yes, but it is a pretty involved to do so.

[2020-06-03 20:51] enjoy-digital commented on #554
Thanks @mithro, i was just trying to list the few things i saw. For now i suggest that we only support  symbiflow toolchain on the Arty (to avoid applying the workarounds to the others targets) and we'll remove the workarounds progressively as things improve with symbiflow.

[2020-06-03 21:10] mithro commented on #554
Our priority list looks like the following;

Artix "50T boards"
 1. Arty 35T variant.
 1. NeTV2 50T variant.

Artix "100T boards"
 1. Arty 100T variant.

Artix "200T boards"
 1. Nexys Video.
 1. AC701

Kintex Boards
 1. Genesys 2 (Kintex 325T).
 1. KC705.

We may also end up adding Zynq in there somewhere....

[2020-06-03 21:15] mithro commented on #554
FYI -- Our goal is also to accept designs targeted at Xilinx Vivado unmodified.

[2020-06-07 02:02] derekmulcahy opened #560 "lx_server: "Protocol not available" on Mac OS X"
Running `lxserver --udp --udp-ip 192.168.1.50` on Mac OS X 10.14.6 and I get the following error.

[code]

I think the issue is caused by passing a bit mask to setsocketopt(). For the Mac this is an option name and not a mask of multiple options. I fixed it by changing the RemoteServer.open routine to set the two option flags separately.

[code]

[2020-06-07 02:04] xobs commented on #560
Apropos of nothing, could you see if `wishbone-tool` works? Binary releases are at https://github.com/litex-hub/wishbone-utils/releases and the command you want ought to be:

`wishbone-tool -s wishbone --ethernet-host 192.168.1.50`

[2020-06-07 02:09] derekmulcahy commented on #560
@xobs wishbone-tool works

[2020-06-08 21:32] nvonbulow opened #561 "LXTERM Image Upload Extremely Slow"
I am trying to upload an image to the DE10-nano using LXTERM on Windows. The issue I'm having here is that it's taking well over an hour to upload a ~120k file over 115200 baud.

Adding in some print statements reveal that only one frame is being written every second, and just about all of that time is being spent on receiving the reply.

It's possible that the issue is either with the FPGA gatewa

[2020-06-09 00:13] rob-ng15 commented on #561
Hi,

I am getting 89kbps on Linux with a 1e6 baud rate on a de10-nano.

Rob.

On Mon, 8 Jun 2020, 22:33 Nick von Bulow, <notifications@github.com> wrote:

[2020-06-09 00:38] nvonbulow commented on #561
Thanks for the comparison @rob-ng15.
I will try it out on Linux to see if there's any difference.

Could you send me the bitstream file you used for your test so I can see if there's any difference?

Thanks,
Nick

[2020-06-09 10:34] rob-ng15 commented on #561
https://github.com/rob-ng15/de10nano

have uploaded the bitstream to here

NOTE: SERIAL UART LOCATIONS

tx = AH9 Arduino i/o IO14
rx = AG11 Arduino i/o IO15

[2020-06-10 23:47] ozbenh commented on #245
What specifically ? Microwatt "standalone" works with LiteDRAM and LiteX can use Microwatt as core both  :-) There's still work to do and Linux doesn't boot *yet* in the LiteX version (it does with hacks in standalone Microwatt) but yes, whatever you're talking about is probably "fixed" :-)

[2020-06-11 15:30] madscientist159 commented on #245
@ozbenh Yeah, was referring specifically to LiteDRAM and whether we needed the little RISC-V core or whether Microwatt can now handle everything.  Sounds like we can do a pure PPC design at this point without RISC-V embedded somewhere in it?

[2020-06-11 23:39] ozbenh commented on #245
Yes, I've even removed the remaining riscv bits from the generator script

[2020-06-12 05:22] madscientist159 commented on #245
@ozbenh Tried to do a quick build for the Versa board, but it's running out of resource.  Is the cache line hack still needed to get it to fit?

[2020-06-12 05:45] ozbenh commented on #245
Not sure, maybe. It might also depend on the version of ghdl and yosys no ? There's a bug somewhere in how they interpret RAMs, that said recent ghdl (from git) will properly pass the attributes we set down to yosys. Not sure it uses them properly.

You'll need to dig in and look and maybe tune memory/cache sizes.

Note: For Linux you probably need DRAM, for which you'll need a memory controller.

[2020-06-12 17:19] madscientist159 commented on #245
@ozbenh Yeah, running GIT master of each due to the known issues.  Been using Yosys for a while now (Verilog) and never could get its inference to work for anything more complex than a single port RAM, even then it seemed twitchy.  Our policy for a while now has been to manually instantiate RAM and IO primitives exactly because of those issues; I may need to see if I can hack up the Microwatt sour

[2020-06-12 17:24] mithro commented on #245
FYI - https://github.com/YosysHQ/yosys/issues/1959

[2020-06-12 17:34] madscientist159 commented on #245
----- Original Message -----

Nice, thanks for the link!

[2020-06-13 00:32] ozbenh commented on #245
I don't know if 75% is big or not for that FPGA, sadly I don't have any ECP5 hardware to play with, but you might be bitten by the size of the TLBs as well, we could look into reducing them or at least bringing the parameters up.

As for the cache RAMs, I purposefully made them a separate module cache_ram.vhdl so it can be easily replaced with some kind of manual instanciation. The L1 caches are a

[2020-06-13 00:38] ozbenh commented on #245
Note about memories: There are actually 3 kinds and I don't know how well/badly Yosys handles them even with the above issue solved.

Block RAMs  (big and slow) which we use for the cache data (L1 and L2)

Distributed "LUT" RAM which is better than registers which we use for most other things (register file, cache tags, TLBs, ...),.

Registers (flops). The most wasteful

From reading the issue abo

[2020-06-13 01:34] mithro commented on #245
@ozbenh "LUT RAM" is not well handled by Yosys at the moment.

[2020-06-13 01:35] mithro commented on #245
LUT RAM can do many port configurations which can't be represented in Yosys at the moment.

[2020-06-13 01:50] ozbenh commented on #245
Ok, that's going to be a problem for Microwatt. We rely heavily on it. Without LUT RAM things like cache tags, TLBs and register file will be orders of magnitude larger in the generated FPGA (and timing will go down the sink). Basically anything large that needs async read is a LUT RAM for us

[2020-06-13 01:51] ozbenh commented on #245
and doing sync reads would require adding even more pipeline stages/latency

[2020-06-13 06:35] daveshah1 commented on #245
LUT RAM for ECP5 is fully supported in Yosys, there is only one configuration.

[2020-06-13 08:04] ozbenh commented on #245
Thanks Dave. As long as it infers a 2D array with synchronous writes and async reads a a LUT RAM we should be ok with microwatt. If I had an ECP5 board  at hand I could give it more love (and generate litedram for it) but I don't at the moment and can't quite spare the funds right now.

[2020-06-13 08:05] ozbenh commented on #245
As for block RAMs, we have wrappers for all of our use of it which could easily be replaced by explicit primitives if necessary. I did that to make it easier to either replace them or tweak them to match tool inferrence limitations. Note that our dcache does use the "output register" option of Xilinx block RAMs to help timing.

[2020-06-14 22:04] gsomlo opened #566 "bios: `.data` section placed in rom, wrongly ends up acting like `.rodata`"
The `.data` section of the bios (initialized global variables) is *wrongly* placed in `rom` by the [linker.ld](https://github.com/enjoy-digital/litex/blob/master/litex/soc/software/bios/linker.ld#L55) script.

As a consequence, initialized global variables such as [this one](https://github.com/enjoy-digital/litex/blob/master/litex/soc/software/liblitesdcard/spisdcard.c#L271) end up being impossibl

[2020-06-15 00:24] hoonchoi70 commented on #561
Any update on this issue? I have the same problem. FPGA gateware + LITEX term is so slow for uploading...

[2020-06-15 05:28] enjoy-digital commented on #561
@hoonchoi70, @nvonbulow: can you provide more information about the FPGA target and the lxterm command used?

[2020-06-15 09:22] rob-ng15 commented on #561
I've not heard back about whether the bitstream I posted worked. Doesn't windows limit uart to 115200 baud?

[2020-06-15 10:07] xobs commented on #561
Windows supports much faster UARTs:

![image](https://user-images.githubusercontent.com/238325/84644611-f95b7400-af31-11ea-88c7-27ffabee5904.png)

Note that higher speeds require platform-specific calls. For example, on Linux you need [termios2](https://github.com/npat-efault/picocom/blob/master/termios2.txt), and on macOS you need a special IOKit call. On Windows it's done via the [SetCommState()

[2020-06-15 21:15] gsomlo commented on #566
a simple reproducer would look like this:

[code]

and is fixed by @zyp's PR #567 (tested on nexys4ddr with litex+rocket).

[2020-06-16 19:48] enjoy-digital commented on #566
Status with #567 merged:

* `vexriscv`: Updated and tested.
* `rocket`: Updated and tested.
* `serv`: Updated and tested.
* `blackparrot`: Identical to `rocket`, not tested.
* `cv32e40p`: Identical to `vexriscv`, not tested.
* `minerva`: Identical to `serv`, not tested.
* `picorv32`: Existing copy code updated, not tested.
* `lm32`: Existing copy code updated, not tested.
* `mor1kx`: Still needs t

[2020-06-19 07:02] kamejoko80 opened #571 "SPI master with DMA implementation"
Hello,

I'd like to connect FPGA with the Silabs WF200 Wifi controller. From the IC spec, it basically requires SPI or SDIO bus interface. First of all, I want to try with SPI because it is simple, but I don't know how configure SPI with DMA to increase the performance. Is there any reference design including gateware and firmware to build a Vexrisc-V system with SPI and DMA?

Thank you.

[2020-06-19 08:20] enjoy-digital commented on #571
Hi,

here is some code i prototyped some time ago (but haven't tested it on hardware).

This is designed to be used with SPIMaster (https://github.com/enjoy-digital/litex/blob/master/litex/soc/cores/spi.py) and the idea is read data from Wishbone, write it to SPI and be able to control this DMA from the CPU:

[code]

To integrate it in your design, in your SoC:
[code]

You will then need to write

[2020-06-19 08:23] enjoy-digital commented on #566
Status with #569 merged:

    vexriscv: Updated and tested.
    rocket: Updated and tested.
    serv: Updated and tested.
    blackparrot: Identical to rocket, not tested.
    cv32e40p: Identical to vexriscv, not tested.
    minerva: Identical to serv, not tested.
    picorv32: Existing copy code updated, not tested.
    lm32: Existing copy code updated, not tested.
    mor1kx: Updated and tested.

[2020-06-19 23:46] madscientist159 opened #572 "Wishbone 32-bit/8-bit downconverter malfunctioning"
I'm working with an 8-bit Wishbone peripheral, and while LiteX seems to insert a bus width converter automatically for my 32-bit system, I'm noticing a significant malfunction.  It looks like the upper three bytes always read zero, as if they are masked off.  Only addresses ending in 2'b11 return any non-zero data from the 8-bit slave.

Is the 32-bit to 8-bit converter regularly tested (or indeed

[2020-06-20 07:11] enjoy-digital commented on #572
Hi @madscientist159,

can you also share the wrapper you used around and the integration code? I'll do some checks.

[2020-06-20 07:15] xobs commented on #572
Is this related to the fact that a Wishbone address is 30 bits? For example, here's how I wire up the USB bridge:

https://github.com/im-tomu/valentyusb/blob/master/valentyusb/usbcore/cpu/usbwishbonebridge.py#L260-L271

[code]

[2020-06-20 07:53] enjoy-digital commented on #572
I just did a quick test with a simple 8-bit Wishbone module:

[code]

That's a Wishbone slave with a memory in it and when accessing it from the BIOS we get:

[code]

So it seems to be behaving correctly and as @xobs suggests the issue is probably related to the fact that the wishbone bus is word based and not byte based. (not sure having it word based was a right choice, but i fear changing it no

[2020-06-20 08:34] madscientist159 commented on #572
@enjoy-digital So far no luck on my side -- here's my wrapper:

[code]

and instantiation:

[code]

[2020-06-20 08:41] enjoy-digital commented on #572
Thanks @madscientist159, it seems the assignment to `spi_bus_adr` is missing in the code snippet, can you share it?

[2020-06-20 08:56] madscientist159 commented on #572
@enjoy-digital Sure -- it's a trivial combinatorial statement:

`self.comb += spi_bus_adr.eq(bus.adr)`

It's only there since the actual module will need to adjust the addresses, but for this tests it's a straight 1:1 assignment.

[2020-06-20 09:04] madscientist159 commented on #572
@enjoy-digital I have also determined that bus.adr is not stable until the clock *after* bus.stb, which seems contrary to the Wishbone B4 specification.  If I update the HDL above to wait one cycle, the off-by-one error disappears in the read output but the upper byte masking problem remains:

[code]

[2020-06-20 09:07] xobs commented on #572
@madscientist159 The way Wishbone works is addresses are right-aligned. That means for example the `ADR` line will go "0, 1, 2, ...".

Then the `SEL` signal will tell which of the 8-bit words are valid.

Since Wishbone in litex is 32-bit, `SEL` contains four bits. If the litex Wishbone bus were 64-bits wide, `SEL` would contain 8 bits.

For example, to access all 32 bits of logical address 0, the

[2020-06-20 09:59] enjoy-digital commented on #572
@madscientist159: sorry i have some difficulties understand the issue in your case, `bus.stb` and `bus.adr` are on the same clock cycle. Can you provide a minimal verilog + integration code + results you are expecting, i could look at it.

[2020-06-20 15:37] kamejoko80 commented on #571
Hi enjoy-digital,

Thanks for the reply.

I defined a function "add_spidma" in soc_linux.py

[code]

Then I got the error:

[code]
Please correct me if I'm wrong.
Thanks

[2020-06-20 19:42] madscientist159 commented on #572
@enjoy-digital I traced the masking to a single typo in the Verilog file -- the ack register was not connected.  Normally this would generate a warning, but in the LiteX flow it either did not generate a warning or the warning was not highlighted (ended up in the general logging noise).  Apparently something in the tooling decided to lock that register to 1'b1, which then caused the apparent issue

[2020-06-20 19:46] enjoy-digital commented on #571
Sorry, there was a typo in the integration code, it's: `self.bus.add_master(master=self.spi_dma.bus)` and not `self.bus.add_master(self.spi_dma.bus)`.

[2020-06-20 20:05] enjoy-digital commented on #561
@nvonbulow, @hoonchoi70 with Linux-on-LiteX-Vexriscv the upload speed should be at least 80KB/s. I'm closing since we don't have enough information to be able to help, we need to know which gateware is used, which board and the lxterm command used.

[2020-06-20 20:05] #561 closed

[2020-06-20 20:09] enjoy-digital commented on #544
Closing since the original issue is fixed.

[2020-06-20 20:09] #544 closed

[2020-06-20 20:19] mithro commented on #572
@madscientist159 - It be helpful to link to the exact code you are using and commands you are running so people can reproduce the error you are seeing.

[2020-06-20 20:21] enjoy-digital commented on #560
Thanks, your solution has been integrated with https://github.com/enjoy-digital/litex/commit/13e0852af48accf941d10e61639a1838ed0f0ca0.

[2020-06-20 20:21] #560 closed

[2020-06-20 20:22] madscientist159 commented on #572
@mithro Fair enough, I'm working on extracting the example now.

[2020-06-20 20:30] madscientist159 commented on #572
@enjoy-digital @mithro

Python module, inserted into the versa_ecp5.py file

[code]

and instantiation in `BaseSoC`:

[code]

Verilog file:
[code]

This is a very simple system that should just work.  I'm using Microwatt on the Versa board:

`./versa_ecp5.py --device=LFE5UM-45F-8BG381C --cpu-type=microwatt --cpu-variant=standard+ghdl --build`

[2020-06-20 20:52] mithro commented on #572
Could you point us to a git repo which has the exact code you are running? Manually hand patching files is very error prone.

[2020-06-20 20:55] madscientist159 commented on #572
Yes, I can get that together, will probably be more this evening or so.

[2020-06-20 21:13] enjoy-digital commented on #572
Testing in simulation (with Vexriscv) i get:
[code]

In your core, you are checking that `wb_stb` goes low at the end of the transfer, which i don't think is required by the Wishbone specification (at least LiteX is not doing so: it would make each Wishbone transfer 3 clock cycles, 2 is already enough...), modifying:

[code]
 to:
[code]

gives

[code]

[2020-06-20 22:13] madscientist159 commented on #572
@enjoy-digital That made it worse, actually:

[code]

Here's the full test project:
https://gitlab.raptorengineering.com/tpearson/litex-boards, branch wishbone_8bit_malfunction

I'm testing with:
`./versa_ecp5.py --device=LFE5UM-45F-8BG381C --cpu-type=microwatt --cpu-variant=standard+ghdl --build`

[2020-06-21 09:41] ozbenh commented on #566
https://github.com/enjoy-digital/litex/pull/573 for Microwatt... seems to work in sim :)

[2020-06-21 18:49] madscientist159 commented on #572
@enjoy-digital I have confirmed that the exact same HDL in the repository I linked works perfectly in 32-bit mode (just by changing the data width parameter from 8 to 32, and address width parameter from 32 to 30).  This should isolate the fault to either the Wishbone 32-bit/8-bit downconverter or Microwatt's byte handling on the Wishbone bus.

[2020-06-21 20:23] enjoy-digital commented on #572
@madscientist159: thanks, sorry i've not yet been able to have another look, i'll do tomorrow.

[2020-06-21 20:30] madscientist159 commented on #572
@enjoy-digital No problem.  Now that I know the 32 bit access works correctly, I've cobbled together a crude byte-mode access system based on wb_adr and wb_sel with the peripheral configured for 32-bit data mode.  So far it's working just fine.

[2020-06-22 11:43] enjoy-digital commented on #572
@madscientist159: i found an issue on the optimization i did to avoid doing the downstream access when `sel=0`. The read datapath was not shifting the data in this case, which is still required.

This is fixed with https://github.com/enjoy-digital/litex/commit/0c0689f444f285550304c21ac463a2ab0fd64e67 and has been tested with the attached: [test_wishbone_module.v](https://github.com/enjoy-digital/l

[2020-06-22 16:10] kamejoko80 commented on #571
Hi enjoy-digital,

After correcting the typo, I could compile the gateware successfully, but the DMA doesn't work.
To check the SPI, I've tried first with normal mode:

[code]
Just added spidma_test into the bios command line for quick testing, then it worked properly, I could capture the waveform from the logic analyzer.

[code]
For DMA mode, I've tried with the following code:

[code]
I got the

[2020-06-22 16:29] enjoy-digital commented on #571
The way you are controlling the module seems fine, there are others typos in the Wishbone2SPIDMA code:
[code]
should be:
[code]

[2020-06-23 07:56] enjoy-digital commented on #566
LM32 has been tested and Microwatt has been updated with #573, so this is now fixed on all supported CPUs.

[2020-06-23 07:56] #566 closed

[2020-06-23 11:12] enjoy-digital commented on #145
This has been fixed with https://github.com/enjoy-digital/litex/issues/566 and we no longer distinguish the case in crt0. Even if the firmware is executed from a read/write location, it's better to also copy the data section to RAM to allow correct reset of the system.

[2020-06-23 11:12] #145 closed

[2020-06-23 15:21] enjoy-digital commented on #460
Closed with https://github.com/enjoy-digital/litex/commit/309eda42466a473a3d2562e31cfdfcbd1a9057af. Tested on Nexys Video and Minispartan6 with > 600KB/s upload.

[2020-06-23 15:21] #460 closed

[2020-06-23 15:39] kamejoko80 commented on #571
Hi enjoy-digital,

Thanks for your help.

I see the addresses of control, status, and mosi are 4 bytes aligned so after adding [2:] the result was not changed.

I noticed there is a function in the csr.h like:

[code]
It seems that my system is big-endian, then I've tried to modify the control register accessing in the dma.py:

[code]
Changed to:

[code]
However, it still doesn't work.
I have a qu

[2020-06-23 16:20] enjoy-digital commented on #571
@kamejoko80: sorry i just realized for this work you will need to set `csr_data_width` to 32 in your SoC, otherwise you won't be able write the SPI control register with a single access as you noticed. (so change `csr_data_width` to 32 and use the [2:] change i was suggesting).

[2020-06-23 20:38] kamejoko80 commented on #571
Hi enjoy-digital,

Thanks for pointing out my mistake,

To make the DMA copy whole bytes in the buffer I've modified a little bit:

[code]
Also changed the firmware:

[code]

By checking on the logic analyzer's display I saw the bytes are shifted out perfectly.
Next step I'll try to modify the dma.py to support the DMA RX part.

Thank you,

[2020-06-24 06:01] enjoy-digital commented on #571
Hi @kamejoko80,

great you got it working! In case you release your project, feel free to share it with us, it would make a good example and we could add a link to it to the wiki.

[2020-06-24 06:01] #571 closed

[2020-06-24 06:02] enjoy-digital commented on #572
Closing since the issue identified in LiteX has been solved. Please re-open is your are still not able to make it work.

[2020-06-24 06:02] #572 closed

[2020-06-24 06:03] henrydang80 commented on #571
Hi enjoy-digital,

I will do it.

Thank you.

[2020-06-24 07:26] kamejoko80 commented on #571
Hi enjoy-digital,

Yes, I will do.

Thank you very much.

[2020-06-25 18:52] madscientist159 opened #577 "CSRStorage not reset on soft reboot"
I have noticed that any CSRStorage objects declared with a reset= value (e.g. `self.config = CSRStorage(size=32, reset=0x12345678`) will only be reset to that value on initial FPGA configuration.  Running a soft reset of the CPU (`reboot`) leaves the CSRStorage registers at the prior values from before the reboot.

This has caused some degree of problems when e.g. a new peripheral core is now comi

[2020-06-27 07:58] enjoy-digital commented on #577
The `reboot` command of the BIOS is indeed currently only reseting the CPU and not the peripherals. We could change this behavior, in the meantime, the `soc.ctrl.reset`could be connected the `CRG` to reset the full SoC.

[2020-06-27 13:02] kamejoko80 commented on #571
Hi enjoy-digital,

I've added DMA RX part and consolidated the source code, but I could not write the MISO register's contain to the DMA RX RAM buffer:

[code]
I'm stuck at the following code statement that attempts to copy a word from rx_data to the destination RAM buffer @ x_dst_addr + word_offset.

[code]

Instead of copy to RAM, I've temporarily declared 4 CSRStorage and passed the address to

[2020-06-27 17:24] madscientist159 commented on #577
@enjoy-digital What is the correct method to attach `soc.ctrl.reset` to the `CRG`?

[2020-06-28 14:35] kamejoko80 commented on #571
Hello,

Maybe I know how to resolve the problem, just adding bus.sel.eq(0b1111) in case of memory writing and it works properly now.

[2020-07-01 13:28] enjoy-digital commented on #577
You could add a `reset` signal to the CRG and do in the SoC : `self.comb += self.crg.reset.eq(self.ctrl.reset)`.

[2020-07-10 04:29] scanakci opened #586 "Regression tests For BlackParrot to identify broken commits"
Hi @enjoy-digital , @mithro

Thanks for your help in integrating BlackParrot into LiteX!
Our development of BlackParrot is coming along well and we are now booting Linux in LiteX. However, since both BlackParrot and LiteX are evolving, a major issue has been tracking down the root cause of failures when either BP or LiteX are updated (e.g., https://github.com/enjoy-digital/litex/issues/493.) As pa

[2020-07-10 05:27] enjoy-digital commented on #586
Hi @scanakci,

thanks for your work on BlackParrot integration and sorry for the delay to investigate on #493, i'll work on that in the next days. For others projects built with LiteX, we are running simulation with verilator for CI and enabling it on LiteX for the different CPU would also indeed be a good idea. I'll also try to work on this.

Regards,

Florent

[2020-07-10 15:56] scanakci commented on #586
Hi @enjoy-digital,

Thank you for your help. I want to clarify one issue, though. You already fixed the #493. I did not create an issue for the new problem that I am facing (related to memtest failure). I sent the details of new problem as an email.

Thanks,

Sadullah

[2020-07-10 16:38] mithro commented on #586
FYI - The team at Antmicro has also been looking into improving the CI situation. That includes people like @kgugala, @mateusz-holenko and @PiotrZierhoffer.

[2020-07-13 00:00] derekmulcahy opened #589 "ECP5 bitstream problem with --spimode"
The recent PR #588  to add spimode as a parameter breaks the bitstreams for my color light 5A-75E when programmed using an FT2232 and openFPGALoader. The bitstreams being produced by ecppack when the --spimode flag is specified cannot be programmed by openFPGALoader. Here is the very trimmed down sequence of events.

[code]

The second run of ecppack, without the --spimode flag, produces a bitstre

[2020-07-13 00:27] derekmulcahy commented on #589
Ecppack puts "0x79 0x49 0x00 0x00" into the bitstream when --spimode fast-read is set.  dual-spi spimode adds "0x79 0x51 0x00 0x00" and qspi adds "0x79 0x59 0x00 0x00".

When the --spimode flag is omitted then this sequence is omitted completely.

My 5A-75E flash chip doesn't like any of the above spimode options so I would need to be able to omit the spimode flag. Perhaps it could default to noth

[2020-07-13 01:43] derekmulcahy commented on #589
OK, a last comment. If I use

`openFPGALoader -c ft2232 -f top.bit`

to write the bitstream to flash then the bitstream produced by --spimode fast-read works! My flash chip does like the fast-read mode after all.

I guess the bottom line is that bitstreams created with spimode options cannot be used for SRAM uploads.

[2020-07-13 06:40] daveshah1 commented on #589
Yes, that is correct, the SPI mode flags break uploads via JTAG or other SRAM programming routes. prjtrellis actually strips them automagically when creating an svf file, but that doesn't help when creating a bit file for another programming tool.

[2020-07-13 10:23] enjoy-digital commented on #589
Thanks @derekmulcahy, @daveshah1, with https://github.com/enjoy-digital/litex/commit/6671eb6218ce35a4b79f3c6dbbb2092bcaa3b41f spimode is set to None by default (and --spimode is not passed to ecppack in this case).

[2020-07-13 10:24] #589 closed

[2020-07-13 11:41] derekmulcahy commented on #589
Awesome! Fixed while I slept!

[2020-07-13 14:55] enjoy-digital opened #590 "Add AXI Lite components/interconnect equivalent to the existing Wishbone ones"
The main bus of the SoC is for now limited to Wishbone which is simple and easy but starts being a bottleneck on several systems:
- Most of the newly added CPU (Zynq, BlackParrot, Rocket, etc...) use native AXI interfaces and the bridges to Wishbone are limiting efficiency/performance.
- Most of the cores are now supporting AXI which has become the de facto standard for performance and interoperab

[2020-07-13 15:07] xobs commented on #590
How difficult would it be to add bridge equivalents to all of these? I'd like for the existing `wishbone-bridge` and `wishbone-tool` stuff to continue to work, and it would be nice if the protocol would be similar.

[2020-07-13 15:35] enjoy-digital commented on #590
@xobs: the idea is to make it transparent to the user (and do not break anything). Even if the main bus is an AXI-Lite bus, you will still be able to plug a Wishbone component to it (an adapter will be automatically inserted, as we are already doing for example for data width converters https://github.com/enjoy-digital/litex/blob/master/litex/soc/integration/soc.py#L281 but here the bus standard w

[2020-07-14 22:30] madscientist159 commented on #245
@ozbenh Still having a real hard time getting Microwatt to actually fit on an ECP5-45 with any room left over for significant (>5% die area) peripherals, even with caches cut back to one line each.  Any other thoughts on trimming Microwatt back somewhat and making it fit better?

[2020-07-14 23:19] ozbenh commented on #245
Not really. Someone who understands the toolchain should look into where is most of the area going, it's strange that it seems to be using 2 to 3 times more LUTs than on the Artix...

[2020-07-15 05:45] enjoy-digital opened #591 "Boot: allow passing optional boot address and r1, r2, r3 in boot.json"
and document it in the Wiki.

[2020-07-16 16:33] enjoy-digital commented on #591
Implemented with https://github.com/enjoy-digital/litex/commit/ac35e158c1a908f8ea35ded97587c78a72babcae.

[2020-07-16 16:33] #591 closed

[2020-07-16 17:34] mithro commented on #591
FYI -- @mateusz-holenko

[2020-07-17 21:32] derekmulcahy commented on #561
Although this is long closed I have some information to add.

Using lxterm with a FT2232 device to upload I find a constant speed of 3.7KB/s is reported. This upload speed doesn't change if I use a baud rate of 115200 or 460800 (or anything else). Lxterm is running on MacOS Mojave and I am uploading to vexriscv on an ECP5.

If I disable the CRC calculation using the --no-crc flag to lxterm then I

[2020-07-17 22:28] derekmulcahy commented on #561
In litex_term.py:55 I changed sfl_payload_length to the maximum value of 255 and this increased the 2,000,000 baud upload speed to 15.3KB/s when CRC was calculated and 180.2KB/s with --no-crc.

The issue seems to be the turnaround time for the ACK when in CRC mode. It looks like it manages about 60 data frames per second with ACKs and over 700 frames per second without. The --no-crc mode dispenses

[2020-07-17 22:52] hoonchoi70 commented on #561
Thanks for the update. Yes you are right. The CRC was the cause of the slow
down. Right now I am using Litex-Term w/o CRC.
BTW, thanks for the Litex. Really enjoy using it! Thanks.

On Fri, Jul 17, 2020 at 3:28 PM derekmulcahy <notifications@github.com>
wrote:

[2020-07-17 23:43] derekmulcahy commented on #561
Windows has some UART tuning parameters. This [document](https://www.mxshift.com/assets/usb_m8/usb_m8_users_guide.pdf) might help.

[2020-07-19 04:13] ghent360 opened #596 "Command aliases are missing following installation instructions"
Downloaded litex_setup.py and run
./litex_setup.py init install --user

Then
./litex_setup.py gcc

lxsim command is not available, neither is lxterm (actually lxterm is a different binary in ubuntu). I figured these are aliases to python scripts in litex/litex/tools/ Is there something missing from the install process? these should be installed as aliases in the shell somehow.

[2020-07-19 13:50] mithro commented on #596
@ghent360 Did the output complain about not having `~/.local/bin` not in your `$PATH`?

[2020-07-19 21:26] ghent360 commented on #596
Perhaps it did, but I have not noticed it. I would politely suggest you add a reminder in the README.md instructions.
Also in ubuntu and probably other distros there is /usr/bin/lxterm binary, which is a wrapper around xterm, perhaps renaming the alias would be warranted.

[2020-07-19 21:26] #596 closed

[2020-07-19 21:26] ghent360 commented on #596
@mithro Thank you for the help.

[2020-07-20 21:14] enjoy-digital commented on #245
@madscientist159: last time i tested on ECP5, Yosys still had issues with the caches and i had to reduce `NUM_LINES` of the `icache `and `dcache` (tested with 2 instead of 64 as it was done in the initial GHDL Synth tests).

[2020-07-21 17:17] madscientist159 commented on #245
@enjoy-digital I'm already doing that, it's still sitting at a ridiculously high resource usage.  Switching to the default RISC-V CPU (which we can't really use for other reasons -- not even set up to test / debug with it beyond synthesis) yields a drop from 95% usage to 50% usage on the ECP5, with all other peripherals etc. unchanged.

[2020-07-21 22:00] madscientist159 commented on #245
That's it exactly, I did some digging and apparently the required TDP RAMs are not supported by Yosys, causing a ridiculous explosion in resources (something over 11k cells just for a two-line I cache and D cache).  Relevant failure:

[code]

[2020-07-21 22:15] ozbenh commented on #245
What RAM object is this ... the main cache rams don't have async reads, they are SDP  with one sync read and one sync write port... the *tags* however have async read, are they the problem here ? For 2 lines there should be only 2 tags and they should fit in LUT RAMs. The above log doesn't say which array/entity it is.

We don't really have a design that runs with caches off at this point, we woul

[2020-07-21 22:17] ozbenh commented on #245
BTW. How did you change the cache sizes ? Where did you edit the generic ? You need to change the values in core.vhdl not the defaults in icache.vhdl or dcache.vhdl

[2020-07-21 22:19] ozbenh commented on #245
Also.. the TLBs have async reads, so they would fit in LUT RAM. We might be able to make things smaller  by having both tags and TLBs in block RAM but at the cost of some extra latency

[2020-07-21 22:25] madscientist159 commented on #245
@ozbenh RAM object is "icache_32_2_2_64_12_56_5ba93c9db0cff93f52b521d7420e43f6eda2784f.\897:", there are a bunch of them that are similar.  The entire I cache reports no BRAM usage and a ton of cells used:

[code]

Also, curiously, the rotator is using a ridiculous amount of resources:

[code]

Those two blocks alone account for 20% of the entire resource usage of the LiteX/Microwatt design, so so

[2020-07-21 22:41] madscientist159 commented on #245
@ozbenh I suppose one approach could be to move the inferred block RAMs into their own module, so that those of us with toolchains that don't actually infer BRAMs (like the Yosys one) could manually insert a device-specific instantiation...

[2020-07-21 23:02] ozbenh commented on #245
The block RAMs for caches are already their own module: cache_ram

Which is why I wonder whether the problem you are having might have more to do with the TLBs which are async read,
though that's a hell lot of LUTs... the TLB in the icache is direct mapped, so shouldn't really take more than 1024 4-bit LUTs unless Yosys can't do LUT RAM. The TLB in the dcache is set associative and thus is going t

[2020-07-22 21:03] #590 closed

[2020-07-23 09:02] enjoy-digital commented on #590
@jedrzejboczar: i just did a quick comparison on a VexRiscv SMP design on Arty using a Wishbone bus or AXI-Lite bus:

Both are booting Linux with in a very similar boot time:

Wishbone version:
[code]

AXI-Lite Version:
[code]

And resource usage is also very similar (AXI-Lite vs Wishbone):
![image](https://user-images.githubusercontent.com/1450143/88268885-67cee700-ccd3-11ea-8aa8-f5554bcb64e6.png

[2020-07-23 09:18] rlipperts opened #601 "no platform file for SoCZynq"
Upon discovery of the [SoCZynq SoC](https://github.com/enjoy-digital/litex/blob/master/litex/soc/integration/soc_zynq.py) I tried to find working configurations using it but couldn't find any.

- I tried building a platform file for the ZyboZ7 myself (created from the information of the [xdc file](https://github.com/Digilent/digilent-xdc/blob/master/Zybo-Z7-Master.xdc)) but encountered errors beca

[2020-07-23 09:43] enjoy-digital commented on #601
@rlipperts: thanks for the feedback. I was planning to update the Zynq support, so will do it and provide an example for the Zybo.

[2020-07-23 15:56] enjoy-digital commented on #601
@rlipperts: the Zynq integration has been updated with https://github.com/enjoy-digital/litex/commit/041c7527ce1b378765c410e6d6e26e4883ee5e44. The SoCs created on Zynq are now regular SoCs and you can choose to use
- no CPU  :`--cpu-type=None`,
- a softcore CPU (default equivalent to `--cpu-type=vexriscv`)
- the PS7 of the Zynq with (default equivalent to `--cpu-type=zynq7000`) and then provide th

[2020-07-23 16:39] derekmulcahy commented on #601
This sounds awesome. Is it time to resurrect my snickerdoodle?

[2020-07-23 17:23] enjoy-digital commented on #601
@derekmulcahy: at least I also have a SnickerDoodle so could help if you want to play with this.

[2020-07-28 09:32] enjoy-digital commented on #601
Closing since the initial issue/question has been solved/answered.

[2020-07-28 09:32] #601 closed

[2020-07-28 12:58] rlipperts commented on #601
Sorry for the late reply, I only have a very limited amount of time to work on this.
I just tested it and it worked flawlessly (with slight changes for my zybo 7z020).
Thank you very much!

[2020-07-28 15:56] bunnie opened #608 "vexriscv_smp breaks designs that don't use LiteDRAM"
The header-level module dependency pulled into vexriscv_smp means that designs that don't use litedram and also don't use vexriscv_smp now break unless they also have litedram as an installed dependency.

https://github.com/enjoy-digital/litex/blob/59b95fad9c7e595116c8f80a3ce96a6fa11bfbb7/litex/soc/cores/cpu/vexriscv_smp/core.py#L15

See error on Betrusted CI builder: https://ci.betrusted.io/job/s

[2020-07-28 16:13] enjoy-digital commented on #608
Thanks for reporting @bunnie, i indeed received a notification things were broken on your CI and was going to look at it but you've been faster :). This should be solved with https://github.com/enjoy-digital/litex/commit/fe38e12b2190253b784fe9c9301ce10773c3b1b3.

[2020-07-28 17:20] bunnie commented on #608
looks good. thank you!

[2020-07-28 17:20] #608 closed

[2020-07-29 05:20] alanvgreen opened #609 "Arty A7 SoC with Lite+Debug VexRiscV does not complete memory test"
I have a Lite+Debug VexRiscV based SoC on an Arty that is failing to get past the memory test.

GDB says:
[code]
Instruction x500f is dcache flush.

Things that make this work:
*    Works with cpu_variant 'full+debug'
*    Works if I revert 408d1a9f "cpu/vexriscv/system.h: update flush_cpu_dcache."

Here is the failing boot sequence, up to the point where it hangs.
[code]

[2020-07-29 06:29] enjoy-digital commented on #609
Thanks for reporting @alanvgreen, i confirm i can reproduce the issue with `lxsim --cpu-type=vexriscv --cpu-variant=lite --with-sdram` and will look at it.

[2020-07-31 07:02] enjoy-digital commented on #609
This is fixed with https://github.com/enjoy-digital/litex/commit/e0a763e534ccbe8689c62906f59f5f9ebfbc27ed, the issue was that the Lite version does not have a data cache and does not support the dcache flush instruction. We are now providing empty `flush_icache`/`flush_dcache` functions for variants whithout i/d caches.

[2020-07-31 07:02] #609 closed

[2020-07-31 07:08] enjoy-digital opened #612 "Evaluate and add sequential reads merge in Etherbone packets"
Similar to https://github.com/enjoy-digital/litex/pull/605 but with Etherbone.

Could be evaluated easily on Arty target: ./arty.py --with-etherbone --build --load by adding a LiteScope Analyzer similar to: https://github.com/enjoy-digital/litex/wiki/Use-LiteScope-To-Debug-A-SoC#add-a-litescope-analyzer-to-your-soc and evaluate the performance improvement.

[2020-07-31 13:22] enjoy-digital opened #613 "Feedback / Contribution / Support"
Please visit https://github.com/enjoy-digital/litex/wiki/Feedback-Contribution-Support.

[2020-07-31 13:23] #613 closed

[2020-07-31 13:24] enjoy-digital opened #614 "Feedback / Contribution / Support"
Please visit https://github.com/enjoy-digital/litex/wiki/Feedback-Contribution-Support.

[2020-08-01 12:27] pepijndevos opened #616 "undefined reference to `_irq_mask' in PicoRV32 on ULX3S"
When I run the following command:
[code]
I get linking errors:
[code]
It seems these are externed in https://github.com/enjoy-digital/litex/blob/master/litex/soc/cores/cpu/picorv32/irq.h and defined in https://github.com/enjoy-digital/litex/blob/master/litex/soc/cores/cpu/picorv32/crt0.S
But apparently these are not linked correctly?

[2020-08-01 14:04] enjoy-digital commented on #616
Could you try with a clean build directory? `rm -rf build` before the command. It's probably that you compiled code for VexRiscv before which is the default CPU.

[2020-08-01 14:12] pepijndevos commented on #616
Never mind me.... *facepalm*

[2020-08-01 14:12] #616 closed

[2020-08-03 16:36] davidcorrigan714 opened #618 "Porting LiteX to the Crosslink-NX eval board"
I've just started working on getting LiteX working on the Crosslink-NX evaluation board, basically copying the Versa ECP5 target, stripping out the Trellis stuff, adapting it for Radiant, and working on some of the device specific details that need to be figured out (like the PLL block configuration). Figured I'd start a thread here on it in case anyone else has played with this, or has some point

[2020-08-03 17:12] daveshah1 commented on #618
Haven't used it much, but I have a CrossLink NX eval board too if you need any help testing stuff

[2020-08-03 17:19] enjoy-digital commented on #618
@davidcorrigan714: same has @daveshah1, i have the board but haven't used it yet, also happy to help.

The first thing will probably be to create a build backend for Radiant and test it on very simple designs: Leds/Buttons/GPIOs (by using https://github.com/enjoy-digital/litex/blob/master/litex/build/lattice/diamond.py as a basis), then use a CPU running with the input clock (to avoid the PLL) and

[2020-08-03 17:42] davidcorrigan714 commented on #618
Getting the LEDs blinking is my first objective. I got it working with Radiant just fine, really just needed some tweaks to the scripting commands. Seemed like they commands were defined in two different files but only one took affect when actually building, I'll have to find those again later and then maybe you all know if ones deprecated or used for another method of building.

Good thought skip

[2020-08-03 20:50] alanvgreen commented on #618
@davidcorrigan714  I'm also planning to start working on this. My eval board just arrived, and I haven't yet had time to plug it in. If you could share a branch, I'd find that helpful - maybe we could collaborate?

Thanks for the tip on flash/FTDI issues

[2020-08-03 21:00] davidcorrigan714 commented on #618
@alanvgreen sure thing, I'll get a repo up this evening (ie 6ish hours from now). The other thing is to get the correct version of Radiant. They disabled bitstream generation for the chip in the latest release, so you want 2.0.1 ie 2.0 then install SP1.

[2020-08-04 04:28] davidcorrigan714 commented on #618
Uploaded [here](https://github.com/davidcorrigan714/litex/tree/crosslink-nx) and [here](https://github.com/davidcorrigan714/litex-boards/tree/crosslink-nx). Everything in there is a WIP but the structure is starting to get there.

[2020-08-04 08:58] enjoy-digital commented on #612
Implemented with https://github.com/enjoy-digital/litex/commit/2a3e39b10e5e270442027e46d11dd0e37262da2e. This already provides > 2x upload speed improvement with a `read_merger` configured to 4 (size of the Etherbone buffers).

[2020-08-04 08:58] #612 closed

[2020-08-04 12:11] alanvgreen commented on #618
@davidcorrigan714  Wow! You've made a huge amount of progress.

I wanted to double check we have the same hardware: I am using the very generically named [CrossLink-NX Evaluation Board](http://www.latticesemi.com/Products/DevelopmentBoardsAndKits/CrossLink-NXEvaluationBoard) from Lattice.

[2020-08-04 13:43] davidcorrigan714 commented on #618
That's the board, it could really use a proper name. Wasn't quite sure what the target file should be called in this case since it's basically the name of the chip. I also used LIFCL in a few places instead of putting CrossLink NX or some variation, should make that more consistent at some point.

I basically started with the versa_ecp5 target then copied all the diamond & ecp5 code and started co

[2020-08-04 15:34] daveshah1 commented on #618
The Radiant webhelp folder has detailed primitive documentation within it, similar to the old reference guides.

[2020-08-06 05:13] davidcorrigan714 commented on #618
Well I got an LED chase pattern going on the board. There's a few manual steps I need to clean up in the code, and I'm using an external oscillator at the moment. Not sure why yet but it's not letting me use the onboard one on pins C11/C12.

[2020-08-06 05:43] enjoy-digital commented on #618
Great!

[2020-08-06 08:11] alanvgreen commented on #618
@davidcorrigan714

I have a SoC building verilog and calling the tooling. The synthesis step is failing due to "Port CLOCK does not exist", which I am guessing is due to needing a .pdc file to constrain pins to ports. Sent a couple of pull requests your way with all the code needed to get to that point.

Unless you have a better idea, I'll work on generating the pdc file next.

Is there an IRC cha

[2020-08-06 08:25] enjoy-digital commented on #618
@alanvgreen: feel free to also discuss this in `#litex` channel at` freenode.net.`

[2020-08-06 13:23] davidcorrigan714 commented on #618
@alanvgreen glanced at those commits. I've been developing against the "crosslink-nx" branch in my repos which you may not have seen so it looks like we both did the RAM, but we actually did it using two different primitives so we'll just need to figure out naming since they're probably both useful depending on the application. I'll work on bringing everything into master, think that works out fin

[2020-08-08 06:30] davidcorrigan714 commented on #520
I'm wondering if I'm hitting this bug trying to get things running on the Crosslink-NX so I'm trying to understand a bit on how to debug this. Seems like I'll have to insert a Reveal analyzer and watch the traffic over the wishbone bus? Not 100% convinced this is the issue, and there's probably more than one, but ruling it out seems like my next step.

[2020-08-08 07:31] daveshah1 commented on #520
You can also use the built-in LiteScope. There are some docs here: https://github.com/enjoy-digital/litex/wiki/Use-LiteScope-To-Debug-A-SoC

[2020-08-08 22:26] zyp commented on #548
Just found this ticket and this is a feature I've been wanting, so here's my two cents.

One of my goals would be to decouple the firmware from the gateware so the gateware can be updated independently of the firmware, i.e. without breaking compatibility with existing firmware builds.

It's possible for a peripheral to have optional features, and for multiple instances of the same peripheral to ha

[2020-08-10 02:41] tcal-x commented on #618
Hi all,
I'm having a hard time finding a link for Radiant 2.0/2.0.1 download.  The [main page](https://www.latticesemi.com/en/Products/DesignSoftwareAndIP/FPGAandLDS/Radiant) is all 2.1, and the Version History page doesn't seem to have any links.   Thanks for any tips!  -- TimC

[2020-08-10 03:15] davidcorrigan714 commented on #618
Go to [this page](https://www.latticesemi.com/en/Support/SoftwareArchive), scroll down and click "Downloadable Software" then find Radiant 2.0 and 2.0.1

[2020-08-10 04:43] davidcorrigan714 commented on #618
@alanvgreen Got some data out of the UART now and it looks like the welcome message. The LA on my scope is nifty but a bit cumbersome so I'm only checked the first few bytes on it. It's running a bit slow at the moment at around ~106kbps.

[2020-08-10 05:16] alanvgreen commented on #618
@davidcorrigan714  That's awesome. Checking out your changes now.

[2020-08-10 08:13] alanvgreen commented on #618
Woot.  With your fixes, I also see data coming out the UART now too.

I see the "sL5DdMmkekro" string that is supposed to trigger firmdownload download in litex-term. However, most output is nonsense characters, each being repeated 4 times. "9999mmmmeeee0000" is being output when I press enter. 9, m, e and 0 are every 4th character of the prompt string defined in [bios/readline.h](https://github.c

[2020-08-10 16:13] davidcorrigan714 commented on #618
Did some board surgery to get the FTDI hooked up on mine, I'm seeing the garbled text too. What's interesting is that it's consistent from run to run and not completely random, so it's not just noise. On mine there's some timing errors that I'm ignoring so it may be time to dive into those, also looking at the selective write feature on the RAM that isn't implemented. That latter issue is probably

[2020-08-10 17:49] davidcorrigan714 commented on #618
Got the garbled UART fixed.

[2020-08-11 00:36] alanvgreen commented on #618
Awesome!

Things left to do:

*    Automate programming - Lattice programmer or OpenOCD
*    Deal with timing error on synplify or use LSE instead
*    Get BRAM inference working
*    Decide on where to put the BIOS - execute in place from flash, or in onboard ROM

I think the BIOS should probably go in onboard ROM. There's plenty of room on the NX/40. I only put it in flash because that's how the

[2020-08-11 00:52] davidcorrigan714 commented on #618
There's a few other miscellaneous clean-up to do in the Radiant code but it should be pretty close. I've been looking at how to set the feature row bits, mostly to keep the SPI Flash accessible over JTAG.

I haven't played with OpenOCD yet, but it seems a reasonable approach to automate. The Lattice programmer is a tad clunky.

Timing errors are solved on my builds, seems like it's a bit picky on

[2020-08-12 14:12] GunnerG opened #628 "Import the opensparc t2 core"
https://www.oracle.com/servers/technologies/opensparc-t2-page.html

[2020-08-12 14:20] daveshah1 commented on #628
This would be quite good fun as a large place and route benchmark on one of the big Xilinx boards!

[2020-08-12 22:57] 0ena opened #629 "PermissionError: [Errno 13] Permission denied: 'nexys4ddr.v'"
Hi,

I am trying to create a bitstream for a Nexus 4 board using this tutorial:
https://insights.sei.cmu.edu/sei_blog/2019/10/how-to-build-a-trustworthy-freelibre-linux-capable-64-bit-risc-v-computer.html

Running the command `litex/litex/boards/targets/nexys4ddr.py   --gateware-dir /eda/tools/xilinx/Vivado/2019.2   --csr-csv ./csr_nexys4ddr.csv   --with-ethernet --sys-clk-freq=75e6  --cpu-type ro

[2020-08-13 05:19] alanvgreen commented on #618
Just sent a PR to your crosslink-nx branch - further work on the LRAM byte enable.

I am working on using inferrred BRAMs for the ROMs. The BRAMs are being inferred by the ROM content being inserted with a $readmemh is being jumbled up.

[2020-08-13 08:00] cklarhorst commented on #629
I have not used that target but I think that  `--gateware-dir ` in your command needs to be writable by your user. That is the directory where the verilog & synthesis files will be created. Likely you could just omit that parameter.

[2020-08-13 09:18] alanvgreen commented on #618
@davidcorrigan714 I pulled your updates and everything started to work. It's inferring RAM and ROM using synplify.

I have been able to download and run a simple C program using serialboot.

I'll look at the PLL next.

[2020-08-13 11:23] gsomlo commented on #629
@0ena : you probably meant to say `--toolchain-dir` rather than `--gateware-dir` (indeed, as @cklarhorst pointed out, the latter needs to be writable by you, and you're probably better off going with the implicit default).

The reason running as root won't work is that all of the LiteX python modules were installed as your non-root user, so they're likely not available system-wide, to any users be

[2020-08-14 07:34] xobs opened #630 "Wishbone no longer meets timing"
On Fomu's CI, today's build no longer meets timing.

The build -- available at https://ci.betrusted.io/job/foboot/165/ -- runs much longer than it used to. It used to take just under three minutes, but now it's taking [four hours](https://ci.betrusted.io/job/foboot/buildTimeTrend).

Additionally, it no longer meets timing, and thus fails to build.

[2020-08-14 14:34] enjoy-digital commented on #630
Thanks for reporting, this was probably introduced by https://github.com/enjoy-digital/litex/commit/e4f5dd987eb8d2a98c714d4e2130fe015e1df244 (to fix https://github.com/litex-hub/linux-on-litex-vexriscv/issues/149) and should be fixed with with https://github.com/enjoy-digital/litex/commit/35929c0f8a8f1cc098a6b6ebb569caca8df8c08d that reverts the non-registered CSR bridge for SoCs without SDRAM. Th

[2020-08-15 02:55] xobs commented on #630
Thanks! That does fix it.

I'm holding the synthesis and place-and-route tools constant, because newer versions of yosys are less efficient, so it's more of a test of whether the synthesized output will still meet timing and fit in the design, which is a nice regression test.

[2020-08-15 02:55] #630 closed

[2020-08-17 15:10] 0ena commented on #629
Hi @cklarhorst and @gsomlo !
Thank you for your informative posts, they are really appreciated. Sorry for being quiet, but I am doing a lot in parallel. :)

So I tried the `--toolchain-dir` option but I get the same thing as with the `--gateware-toolchain-path` option, namely:

[code]

It seems that those two options do not exist anymore?

On the other hand I took a look on the link you provided (

[2020-08-19 10:53] mtdudek opened #633 "Litex.build.io line 65-67"
After changes done in last update to litex/build/io.py
code below is broken, simulation fails to start with error: `TypeError: __init__() takes 4 positional arguments but 5 were given`.
[code]
Suggested solution:
[code]

[2020-08-19 12:48] #629 closed

[2020-08-24 02:00] 0ena opened #638 "How to extract Verilog files."
Hi,

I am following this link: http://www.contrib.andrew.cmu.edu/~somlo/BTCP/
to create a RISC-V SoC that will be able to run Linux on it. I am using as a template the Nexys4DDR.

I can see that at the end of the flow, along with the bitstream there is another Verilog file created, called "nexys4ddr.v".
Is this the final netlist of the placed and routed design?

If so, is there a way to create sep

[2020-08-24 04:15] davidcorrigan714 commented on #618
@enjoy-digital  @alanvgreen  Just put up PRs for both repos with a few comments. Looks like I forgot one or two changes I wanted to make but there's plenty for people to start reviewing, or even testing.

[2020-08-24 06:39] gregdavill commented on #618
I'm happy to update ecpprog with any changes needed to support the NX.

Last time I tried it on my eval board here it just worked out of the box, but I haven't really put it through it's paces. Some changes might be required.

[2020-08-24 07:27] enjoy-digital commented on #638
Hi @0ena ,

The `nexys4ddr.v` is the indeed the generated design and it's not currently possible to split it in separate verilog files. That would indeed be useful to simplify checking the generated code (and to keep hierarchy), that's something we'd like to improve/explore on the future. It's possible to export modules individually with generators:
- https://github.com/enjoy-digital/litex/blob/ma

[2020-08-24 08:11] scanakci opened #641 "Memory test fails on Genesys Kintex for BlackParrot"
Unfortunately, memory tests fail when I use BP with most recent LiteX. I provide the commits when I could successfully pass DRAM tests. I tested several frequencies (75MhZ and 84MhZ do not cause any time violations)

LiteX: c136113a9b71cbcbdf525aaad38acb012f4a12f3
LiteDRAM: fe478382e16ff3592e07774580c96bde0dc82da3
litex-boards: c7404e356f737a58be4527b3ae8de20fce96defd
blackparrot: 7eb1037637d8515a

[2020-08-24 12:25] enjoy-digital commented on #641
The issue seems to be a calibration issue, but i've not yet been able to reproduce it to investigate (the CPU was not booting). I'll do another test in the next days. The calibration is only specific to the hardware test, so that's not really possible to reproduce this issue on simulation. I'm working on a LiteDRAM bench to make sure we cover all calibration corner cases: https://github.com/enjoy-

[2020-08-24 14:39] gregdavill commented on #618
No, it's not using OpenOCD.
ecpprog is a small utility that can program bitstreams to the ECP5 over an FTDI JTAG connection, the same that's found on the eval-board.

The JTAG commands for loading a bitstream on the NX series is the same as the ECP5, so it should work out of the box.
https://github.com/gregdavill/ecpprog

[2020-08-24 19:49] tcal-x commented on #618
Hi Greg,
I tried ecpprog with my Crosslink-NX Eval board, and I see this:

[code]

In case it's relevant, this is the output to lsusb:
[code]

[2020-08-24 20:13] davidcorrigan714 commented on #618
@tcal-x The ID thing doesn't surprise me. The ID for CrossLink-NX is 0x010f1043 .

@enjoy-digital Didn't realize that git on my home machine was still using an old username & email. Probably doesn't really matter but the copyright info would be better as "David Corrigan <davidcorrigan714@gmail.com>".

[2020-08-24 20:15] davidcorrigan714 commented on #618
@tcal-x  Looks like I spoke too soon, and probably need to fix this elsewhere. There's a few IDs it could be base on their sysCONFIG Usage Guide for the Nexus Platform. The relevant ones for the dev board being the LIFCL-40-ES and LIFCL-40. Mine happens to be an ES but I'd assume they're shipping the production version of that chip on later runs of the evaluation board.

CrossLink-NX:
LIFCL-17: 0x

[2020-08-24 20:35] enjoy-digital commented on #618
@davidcorrigan714: i just updated your username & email with: https://github.com/enjoy-digital/litex/commit/3897acb9e4b91ad58abbcea8e3cff6e44223bd02 and https://github.com/litex-hub/litex-boards/commit/63b65e278c279a9cf8c4da31db8f7e845edba394.

[2020-08-24 20:43] tcal-x commented on #618
I have the ES as well.   After adding the device and ID, I tried programming, but the verify step fails:
[code]
...but, it seems to work --- after power cycling the board, I see the behavior of the new bitstream.

[2020-08-24 20:51] davidcorrigan714 commented on #618
Interesting that it failed at 4096. For going to the flash you may just need to slow down the programming bus speed. On my evaluation board using the official programmer it always failed at full speed but worked flawlessly at anything slower. I plan to check out ecpprog too this evening too and see what it does on mine.

[2020-08-24 21:28] scanakci commented on #641
Thanks. I will try to generate bitstream in a fresh vm in the next days and let you know.

[2020-08-25 01:36] gregdavill commented on #618
@tcal-x If you run `ecpprog -S ./slow.bit` does that give any errors? the `-S` option skips the background FLASH programming, and just loads the design directly into the FPGA's configuration SRAM.

I have an eval board here that I can experiment with, I'll try it out tonight.

[2020-08-25 03:43] tcal-x commented on #618
Oh!  That works, and much quicker than either ecpprog flashing or with the Radiant programmer.
Just under 5 seconds.

[2020-08-31 06:11] #638 closed

[2020-09-01 09:48] enjoy-digital opened #645 "Expose BIOS options and document in Wiki"

[2020-09-05 00:48] ghent360 opened #646 "SDRAM_PHY_MODULES undeclared compiling risc-v BIOS"
go to litex_boards/targets
run ./colorlight_5a_75x.py no arguments.

Error:
make: Entering directory 'xxx/fpga/liteX/litex-boards/litex_boards/targets/build/colorlight_5a_75b/software/liblitedram'
 CC       sdram.o
xxx/fpga/liteX/litex/litex/soc/software/liblitedram/sdram.c: In function 'sdrmpr':
xxx/fpga/liteX/litex/litex/soc/software/liblitedram/sdram.c:909:23: error: 'SDRAM_PHY_MODULES' undecla

[2020-09-05 09:39] enjoy-digital commented on #646
Thanks for reporting, this is fixed with https://github.com/enjoy-digital/litex/commit/c247814ed4e81cbaf15cb76cccf3260d39f16743.

[2020-09-05 09:39] #646 closed

[2020-09-08 06:18] fallen opened #648 "Install issue"
Hi,
I think there is either a setup.py missing or litex_setup.py is out of date because it tries to run setup.py in litex/.
See:
[code]

[2020-09-09 16:01] enjoy-digital commented on #648
Hi @fallen,
i think your issue is similar to https://github.com/enjoy-digital/litex/issues/525#issuecomment-629245574, can you check?

[2020-09-09 17:58] fallen commented on #648
You are right, I was running from inside the repo.
Maybe the script can be made to work when run from inside the repo?
Running it from outside clones lots of stuff in current directory.
That could be great if the cloning would be circumscribed to only the litex/ top repository.
Thanks!

[2020-09-09 17:58] #648 closed

[2020-09-10 11:21] enjoy-digital commented on #648
With https://github.com/enjoy-digital/litex/commit/c169494793d63afb789042a913b84477d794b6ef, it's now possible to run it from the cloned repository, but others dependencies will still be cloned alongside.

[2020-10-01 15:00] BrettRD opened #658 "CSRs generated in a loop don't reach csr.csv"
I have a module that captures a bunch of data on multiple channels, and I'd like to present them to wishbone-tool on sequentially named `CSRStatus` registers.

When I declare a list of `CSRStatus` objects in a list, they don't make it to the final build.
[code]

[code]

If I (ab)use exec to declare a bunch of sequentially named variables, each assigned one `CSRStatus`, and then put those intermedi

[2020-10-01 15:08] enjoy-digital commented on #658
@BrettRD: there are indeed some limitations, but the following should work:

[code]

[2020-10-01 21:55] BrettRD commented on #658
Thanks! it works!
So setattr here generates module member variables whose names are defined by a simple f-string, and sets their values to the new CSR registers.
The object reference is held by self.output so it can be iterated over, and the object reference also exists as a module named variable so it gets picked up later in the chain.

[2020-10-01 21:55] #658 closed

[2020-10-04 23:30] yetifrisstlama opened #660 "Stream2Wishbone: drops input data"
This class never de-asserts its ready line and always accepts the incoming stream.

However it can only capture data when the FSM is in state `RECEIVE-DATA`. As soon as it switches to another state it will silently drop incoming data, which will break the etherbone protocol.

I guess this is usually not a problem when data comes in slow, byte by byte (e.g., form a real UART) but I'm using this in

[2020-10-05 01:25] yetifrisstlama commented on #660
Fixed it in #661

[2020-10-06 05:47] yetifrisstlama commented on #660
#661 is merged now. Thanks!

[2020-10-06 05:47] #660 closed

[2020-10-06 07:45] enjoy-digital opened #667 "Avoid changes of the verilog netlist prefix on unrelated changes."
When minor changes are done to the design, the verilog netlist prefix can also change (`soc_`, `main_`, etc...) which is fine when constraints are directly provided by LiteX but causes issues when applying manual constraints to internal signals or when comparing changes.

This needs to be understood and fixed.

cc @bunnie.

[2020-10-07 05:49] enjoy-digital opened #669 "Avoid generated bitstream to be named "__main__.bin/bit" when the Platform is not explicitely named."
Using `top.bin/bit` as default would be better.

[2020-10-08 07:29] bunnie commented on #667
I also have this problem, if I get a chance to solve it I'll post a commit to this thread, at the moment haven't had a chance to dig into it!

[2020-10-08 09:02] bkappa013 opened #670 "OSError: Subprocess failed"
Goodmorning` everyone.
I have a problem with litex.
When I try to build the bitstream I get the error listed below.
Without the --build command it does everything smoothly, but I need to have a valid bitstream to load in fpga.
Can someone help me? thank you

Traceback (most recent call last):
  File "./versa_ecp5.py", line 160, in module
    main()
  File "./versa_ecp5.py", line 153, in main
    b

[2020-10-08 09:39] enjoy-digital commented on #670
Hi @bkappa013,

which toolchain are you willing to use for the Versa ECP5: Diamond or Yosys/NextPnr? For your issue, the related toolchain is probably not installed correctly. Can you verify it's in your `PATH`?

[2020-10-08 17:35] mithro commented on #670
@enjoy-digital We should improve the `raise OSError` at https://github.com/enjoy-digital/litex/blob/004924a3190f5d6b58a213f499e7f8460f9f42c6/litex/build/lattice/diamond.py#L151 to be more informative about what actually failed.

[2020-10-11 05:00] madscientist159 commented on #245
I'm currently working on trying to get IRQ support enabled for Microwatt in LiteX.  Before I dive too deeply into this, is this support already partially (or fully) implemented in anyone's development tree but not yet merged?

[2020-10-13 21:05] madscientist159 commented on #245
I've been working on this for the past couple of days, making decent progress.

The current snag is the fact that POWER has a fixed location for its exception handlers, and with the current Microwatt implementation that exception handler table is located in read only data.  Both the BIOS and the application need to use different exception handlers, so I'm currently working on rewriting and relocat

[2020-10-14 05:31] enjoy-digital commented on #245
@madscientist159: thanks for the feedback. In case it could be useful for your tests, it's possible to make the embedded ROM writable by setting `integrated_rom_mode`  to `rw` here https://github.com/enjoy-digital/litex/blob/master/litex/soc/integration/soc_core.py#L74.

[2020-10-14 22:18] ozbenh commented on #245
Due to how the POWER architecture works, you should really have your main RAM at 0... We *could* add some kind of microwatt  specific hackery to offset the exception vectors but this would make it harder to do things like support Linux

[2020-10-14 23:34] madscientist159 commented on #245
@ozbenh Good to know.  I did get things working with a soft offset, basically I wrote some hardcoded exception entry asm that uses a reserved vector address variable in SRAM to jump to the generic C exception handler vector.  I might push that up as at least a temporary enablement patch, since LiteX seems to make a lot of assumptions about what exists at address 0 (basically the BIOS, and to a lar

[2020-10-14 23:43] madscientist159 commented on #245
@ozbenh One other question -- is the XICS controller actually documented anywhere?  I pieced together enough from the existing source to write some basic test code and verified that the IPI interrupts work, but I haven't been having luck so far on external interrupts.  I suspect I just haven't set up the controller properly, but since there are no public docs on XICS registers / operation that I'v

[2020-10-14 23:51] ozbenh commented on #245
Sadly it's not anywhere I'm aware of. Also while the presentation registers (ICP) are somewhat architected, the source control ones are not, they are generally hidden behind some firmware (RTAS or OPAL). I do have a patch somewhere for Linux to add support to the ones I made up for microwatt in my github tree.  It's pretty trivial though, mostly the registers contain the priority of the interrupt

[2020-10-16 08:18] lindemer opened #676 "Debugging LiteX / VexRiscv with Verilator / OpenOCD / GDB"
Is it possible to load a binary onto an emulated LiteX / VexRiscv SoC in Verilator and debug it with GDB? If so, is there a tutorial on how to do this? I'm new to the LiteX ecosystem, and I see that `lxsim` has a `--sim-debug` flag, but I can't find any documentation on it. (I would like to do a cycle-accurate simulation of Zephyr RTOS with a custom VexRiscv plugin.)

[2020-10-16 09:01] Dolu1990 commented on #676
I don't know if there is a TCP to JTAG bridge in litex, but in case of, there is how it can be done in SpinalSim :
https://github.com/SpinalHDL/SpinalHDL/blob/cd04d9c3b06f82d18c28db9f82f7925276f41745/lib/src/main/scala/spinal/lib/com/jtag/sim/JtagTcp.scala#L10

You just need to open a TCP socket, apply each byte to the JTAG pin directly, and eventualy send back the TDO value as a byte

[2020-10-16 15:51] mithro commented on #676
@tcal-x You had this question to right?

[2020-10-16 16:37] tcal-x commented on #676
@mithro I haven't yet had a need to dive into Verilator simulation, but it is useful to know that it exists.   I'd more likely use Verilator for collecting waveforms, but instead use Renode + custom instructions for functional debugging if the new instructions can be handled by the [extension capability](https://github.com/renode/renode/blob/master/tests/unit-tests/riscv-custom-instructions.robot)

[2020-10-16 16:53] tcal-x commented on #676
...although if I can't find the problem using Renode, then I'd need to get down to this level of detail -- debugging on the actual Verilog implementation using Verilator and the debug bridge with GDB.

[2020-10-16 19:52] madscientist159 commented on #245
@benh That was enough to get me pointed in the right direction...LiteX/Microwatt now has proper interrupt support!

https://github.com/enjoy-digital/litex/pull/677

[2020-10-21 19:07] DurandA opened #682 "Enable LTO/remove unused symbols when compiling BIOS/firmware"
The current GCC build (I did not try Clang) for BIOS/firmware does not strip away unused symbols, resulting in large binaries (especially when adding dependencies).

I tried adding various flags in [_common.mak_](https://github.com/enjoy-digital/litex/blob/master/litex/soc/software/common.mak) according to [answers on Stack Overflow](https://stackoverflow.com/questions/6687630/how-to-remove-unused